Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

resolver: avoid extern crate
  crates/resolver/src/config.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/tls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: kill the (sync) Resolver
  crates/resolver/src/lib.rs
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: rename async_resolver module to resolver
  crates/resolver/src/lib.rs
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: add aliases for AsyncResolver/TokioAsyncResolver
  crates/resolver/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: rename {Tokio,}AsyncResolver to drop the Async
  crates/async-std-resolver/src/lib.rs
  crates/resolver/examples/custom_provider.rs
  crates/resolver/examples/flush_cache.rs
  crates/resolver/examples/global_resolver.rs
  crates/resolver/examples/multithreaded_runtime.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/tls/mod.rs
  crates/server/src/store/forwarder/authority.rs
  util/src/bin/get-root-ksks.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62

util: use async resolver for get-root-ksks
  util/src/bin/get-root-ksks.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: don't use extern crate for hickory_proto
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/config.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/hosts.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/lookup_ip.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/name_server/name_server_state.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/system_conf/unix.rs
  crates/resolver/src/system_conf/windows.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  crates/resolver/src/tls/dns_over_rustls.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove deprecated type alias
  crates/resolver/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: keep use statements together with source modules
  crates/resolver/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

client: deprecate ClientFuture alias
  crates/client/src/client/async_client.rs
Owners: @bluejekyll, @djc, @marcus0x62

compatibility-tests: inline helper function
  tests/compatibility-tests/tests/integration/sig0_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

compatibility-tests: port sig0 tests to async API
  Cargo.lock
  tests/compatibility-tests/Cargo.toml
  tests/compatibility-tests/tests/integration/sig0_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Use trait objects for MessageFinalizer
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/client/src/client/async_client.rs
  crates/client/src/client/client.rs
  crates/client/src/client/client_connection.rs
  crates/client/src/client/mod.rs
  crates/client/src/h2_client_connection.rs
  crates/client/src/multicast/mdns_client_connection.rs
  crates/client/src/tcp/tcp_client_connection.rs
  crates/client/src/udp/udp_client_connection.rs
  crates/proto/src/op/message.rs
  crates/proto/src/op/mod.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/src/name_server/connection_provider.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/tls_client_connection.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

compatibility-tests: port sig0 tests to async API
  Cargo.lock
  tests/compatibility-tests/Cargo.toml
  tests/compatibility-tests/tests/integration/sig0_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

compatibility-tests: inline helper function
  tests/compatibility-tests/tests/integration/sig0_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

client: deprecate ClientFuture alias
  crates/client/src/client/async_client.rs
Owners: @bluejekyll, @djc, @marcus0x62

Use trait objects for MessageFinalizer
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/client/src/client/async_client.rs
  crates/client/src/client/client.rs
  crates/client/src/client/client_connection.rs
  crates/client/src/client/mod.rs
  crates/client/src/h2_client_connection.rs
  crates/client/src/multicast/mdns_client_connection.rs
  crates/client/src/tcp/tcp_client_connection.rs
  crates/client/src/udp/udp_client_connection.rs
  crates/proto/src/op/message.rs
  crates/proto/src/op/mod.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/src/name_server/connection_provider.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/tls_client_connection.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add justfile target to export lcov file
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Add justfile target to export lcov file
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

tests: fix warnings in disabled code, hoist guards
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

tests: use async client for tsig compatibility tests
  tests/compatibility-tests/tests/integration/tsig_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

tests: use async client for zone transfer compatibility tests
  tests/compatibility-tests/tests/integration/zone_transfer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

tests: use async client for client integration tests
  tests/integration-tests/src/lib.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

tests: use async for server future integration tests
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/tls_client_connection.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

client: remove synchronous client API
  crates/client/src/client/client.rs
  crates/client/src/client/client_connection.rs
  crates/client/src/client/mod.rs
  crates/client/src/h2_client_connection.rs
  crates/client/src/lib.rs
  crates/client/src/multicast/mdns_client_connection.rs
  crates/client/src/multicast/mod.rs
  crates/client/src/tcp/mod.rs
  crates/client/src/tcp/tcp_client_connection.rs
  crates/client/src/udp/mod.rs
  crates/client/src/udp/udp_client_connection.rs
Owners: @bluejekyll, @djc, @marcus0x62

client: rename Async{,Dnssec}Client to remove Async prefix
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_rustls_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  crates/client/src/client/async_client.rs
  crates/client/src/client/async_secure_client.rs
  crates/client/src/client/mod.rs
  crates/client/src/lib.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

client: rename modules to match type names
  crates/client/src/client/client.rs
  crates/client/src/client/dnssec_client.rs
  crates/client/src/client/mod.rs
  crates/client/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

ci: allow jobs to continue on error
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

client: rename modules to match type names
  crates/client/src/client/client.rs
  crates/client/src/client/dnssec_client.rs
  crates/client/src/client/mod.rs
  crates/client/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

client: remove synchronous client API
  crates/client/src/client/client.rs
  crates/client/src/client/client_connection.rs
  crates/client/src/client/mod.rs
  crates/client/src/h2_client_connection.rs
  crates/client/src/lib.rs
  crates/client/src/multicast/mdns_client_connection.rs
  crates/client/src/multicast/mod.rs
  crates/client/src/tcp/mod.rs
  crates/client/src/tcp/tcp_client_connection.rs
  crates/client/src/udp/mod.rs
  crates/client/src/udp/udp_client_connection.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: use async client for zone transfer compatibility tests
  tests/compatibility-tests/tests/integration/zone_transfer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

client: rename Async{,Dnssec}Client to remove Async prefix
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_rustls_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  crates/client/src/client/async_client.rs
  crates/client/src/client/async_secure_client.rs
  crates/client/src/client/mod.rs
  crates/client/src/lib.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

ci: allow jobs to continue on error
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

tests: use async for server future integration tests
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/tls_client_connection.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

tests: fix warnings in disabled code, hoist guards
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

tests: use async client for tsig compatibility tests
  tests/compatibility-tests/tests/integration/tsig_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

tests: use async client for client integration tests
  tests/integration-tests/src/lib.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

tests: restore shorter timeout window in test
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

recursor: pass RecursorBuilder by value
  crates/recursor/src/recursor.rs
  crates/server/src/store/recursor/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

recursor: simplify trust anchor setup
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62
