Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

justfile: use --locked to stick with Cargo.lock dependencies
  justfile
Owners: @bluejekyll, @djc

Allow to modify a specific RRSIG record before signing
  conformance/packages/dns-test/src/record.rs
  conformance/packages/dns-test/src/zone_file/mod.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

justfile: stop enumerating target types after --all-targets
  justfile
Owners: @bluejekyll, @djc

justfile: use --locked to stick with Cargo.lock dependencies
  justfile
Owners: @bluejekyll, @djc

Add information on cargo ws plugin
  README.md
Owners: @bluejekyll, @djc

Add information on cargo ws plugin
  README.md
Owners: @bluejekyll, @djc

conformance: add test to check tc bit
  conformance/packages/conformance-tests/src/name_server/rfc4035/section_3/section_3_1/section_3_1_1.rs
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Improve recursor logic by eliminating redundant NS requests and adding recursor support for NS referrals.
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc

Reintroduce changeset; see comment in previous commit.
  crates/proto/src/error.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc

Upgrade to rustls 0.23, quinn 0.11, etc
  Cargo.lock
  Cargo.toml
  bin/tests/named_https_tests.rs
  bin/tests/named_quic_tests.rs
  bin/tests/named_rustls_tests.rs
  crates/async-std-resolver/src/net.rs
  crates/async-std-resolver/src/runtime.rs
  crates/client/src/h2_client_connection.rs
  crates/proto/Cargo.toml
  crates/proto/src/error.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/h3/h3_server.rs
  crates/proto/src/quic/mod.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/quic/quic_server.rs
  crates/proto/src/quic/quic_socket.rs
  crates/proto/src/quic/quic_stream.rs
  crates/proto/src/quic/tests.rs
  crates/proto/src/rustls/tests.rs
  crates/proto/src/rustls/tls_server.rs
  crates/proto/src/rustls/tls_stream.rs
  crates/proto/src/udp/mod.rs
  crates/proto/src/udp/udp_stream.rs
  crates/resolver/Cargo.toml
  crates/resolver/src/config.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/tls/dns_over_rustls.rs
  crates/server/src/config/dnssec.rs
  crates/server/src/server/server_future.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/client_future_tests.rs
  tests/integration-tests/tests/server_future_tests.rs
  util/Cargo.toml
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

leave query/opt in truncated msg
  crates/proto/src/op/message.rs
Owners: @bluejekyll, @djc

resolver: remove disabled mDNS support
  crates/resolver/Cargo.toml
  crates/resolver/README.md
  crates/resolver/src/caching_client.rs
  crates/resolver/src/config.rs
  crates/resolver/src/dns_sd.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/mod.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/mdns_tests.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

Remove disabled code for HMAC truncation
  crates/proto/src/rr/dnssec/tsig.rs
Owners: @bluejekyll, @djc

Bring back optional backtrace support
  Cargo.lock
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
Owners: @bluejekyll, @djc

server: remove unimplemented support for HTTPS with OpenSSL
  crates/server/src/server/server_future.rs
Owners: @bluejekyll, @djc

async-std-resolver: remove disabled tests for DNSSEC support
  crates/async-std-resolver/src/tests.rs
Owners: @bluejekyll, @djc

conformance: fix line contination in docs
  conformance/packages/dns-test/src/name_server.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Allow nightly cfg guard (used for benchmarks)
  Cargo.toml
  bin/Cargo.toml
  crates/async-std-resolver/Cargo.toml
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc

justfile: fix benchmark builds
  bin/benches/comparison_benches.rs
  crates/client/benches/lower_name_benches.rs
  crates/proto/benches/lib.rs
  justfile
Owners: @bluejekyll, @djc

Move lower_name_benches to proto crate
  crates/proto/benches/lower_name_benches.rs
Owners: @bluejekyll, @djc

Remove disabled code for HMAC truncation
  crates/proto/src/rr/dnssec/tsig.rs
Owners: @bluejekyll, @djc

resolver: remove disabled mDNS support
  crates/resolver/Cargo.toml
  crates/resolver/README.md
  crates/resolver/src/caching_client.rs
  crates/resolver/src/config.rs
  crates/resolver/src/dns_sd.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/mod.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/mdns_tests.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

conformance: fix line contination in docs
  conformance/packages/dns-test/src/name_server.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

async-std-resolver: remove disabled tests for DNSSEC support
  crates/async-std-resolver/src/tests.rs
Owners: @bluejekyll, @djc

Move lower_name_benches to proto crate
  crates/proto/benches/lower_name_benches.rs
Owners: @bluejekyll, @djc

Allow nightly cfg guard (used for benchmarks)
  Cargo.toml
  bin/Cargo.toml
  crates/async-std-resolver/Cargo.toml
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc

justfile: fix benchmark builds
  bin/benches/comparison_benches.rs
  crates/client/benches/lower_name_benches.rs
  crates/proto/benches/lib.rs
  justfile
Owners: @bluejekyll, @djc

server: remove unimplemented support for HTTPS with OpenSSL
  crates/server/src/server/server_future.rs
Owners: @bluejekyll, @djc

Bring back optional backtrace support
  Cargo.lock
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
Owners: @bluejekyll, @djc

chore: update resolver tests to include nameserver
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc

fix: return error when resolv_conf has no nameservers
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc

Make sure Lookup futures are Sync
  crates/resolver/src/async_resolver.rs
Owners: @bluejekyll, @djc

style: use lowercase error message
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc

Make sure Lookup futures are Sync
  crates/resolver/src/async_resolver.rs
Owners: @bluejekyll, @djc

resolver: Make QuicSocketBinder as public as RuntimeProvider/ConnectionProvider
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/mod.rs
Owners: @bluejekyll, @djc

resolver: Make QuicSocketBinder as public as RuntimeProvider/ConnectionProvider
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/mod.rs
Owners: @bluejekyll, @djc

Return error when no nameservers in resolv.conf (#2327)
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc

Trying to elicit information on TC bit
  conformance/packages/conformance-tests/src/name_server/rfc4035/section_3/section_3_1/section_3_1_1.rs
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Improve recursor logic by eliminating redundant NS requests and adding recursor support for NS referrals.
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc

Reintroduce changeset; see comment in previous commit.
  crates/proto/src/error.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc

# default owners for the whole repository
* @bluejekyll @djc

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
