Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

Compare timestamps using Serial Number Arithmetics
  crates/proto/src/rr/dnssec/rdata/sig.rs
  crates/proto/src/rr/mod.rs
  crates/proto/src/rr/serial_number.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

conformance: Add assertion
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Change visibility of inner NewType value
  crates/proto/src/rr/serial_number.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc

conformance: Refactor passing of signature timestamps
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Change signature timestamp fields to SerialNumber
  crates/proto/src/rr/dnssec/rdata/rrsig.rs
  crates/proto/src/rr/dnssec/rdata/sig.rs
  crates/proto/src/rr/dnssec/tbs.rs
  crates/proto/src/rr/mod.rs
  crates/proto/src/rr/serial_number.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc

conformance: Adds tests to check timestamp boundaries
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Added tests for ForwardNS and ForwardSOA; fixed caching client to pass through NS record inProtoError::NoRecordsFound when present
  crates/resolver/src/caching_client.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/lookup_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

do not retry NXDOMAIN over TCP when using try_tcp_on_error
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

simplify match case
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc

Fix Issue #2306 / infinite recursion in ns_pool_for_zone
  conformance/packages/conformance-tests/src/resolver/dnssec/regression.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc

recursor: take is_subzone() arguments as &Name
  crates/recursor/src/lib.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc

conformance: Adds tests to check timestamp boundaries
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: Refactor passing of signature timestamps
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Change signature timestamp fields to SerialNumber
  crates/proto/src/rr/dnssec/rdata/rrsig.rs
  crates/proto/src/rr/dnssec/rdata/sig.rs
  crates/proto/src/rr/dnssec/tbs.rs
  crates/proto/src/rr/mod.rs
  crates/proto/src/rr/serial_number.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc

Change visibility of inner NewType value
  crates/proto/src/rr/serial_number.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc

conformance: Add assertion
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Compare timestamps using Serial Number Arithmetics
  crates/proto/src/rr/dnssec/rdata/sig.rs
  crates/proto/src/rr/mod.rs
  crates/proto/src/rr/serial_number.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

proto: refactor TBS constructors into associated functions
  crates/proto/src/rr/dnssec/signer.rs
  crates/proto/src/rr/dnssec/tbs.rs
  crates/proto/src/rr/dnssec/verifier.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc

fmt
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc

proto: simplify TBS construction argument
  crates/proto/src/rr/dnssec/signer.rs
  crates/proto/src/rr/dnssec/tbs.rs
  crates/proto/src/rr/dnssec/verifier.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/tests/authority_battery/dnssec.rs
Owners: @bluejekyll, @djc

proto: create higher-level constructor for TBS
  Cargo.lock
  crates/proto/Cargo.toml
  crates/proto/src/rr/dnssec/tbs.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc

proto: remove now unnecessary SerialNumber constructor
  crates/proto/src/rr/serial_number.rs
Owners: @bluejekyll, @djc

only if trusted
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

restrict retry over tcp to i/o errors only, when enabled
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

Added tests for ForwardNS and ForwardSOA; fixed caching client to pass through NS record inProtoError::NoRecordsFound when present
  crates/resolver/src/caching_client.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/lookup_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

recursor: take is_subzone() arguments as &Name
  crates/recursor/src/lib.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc

proto: create higher-level constructor for TBS
  Cargo.lock
  crates/proto/Cargo.toml
  crates/proto/src/rr/dnssec/tbs.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc

proto: refactor TBS constructors into associated functions
  crates/proto/src/rr/dnssec/signer.rs
  crates/proto/src/rr/dnssec/tbs.rs
  crates/proto/src/rr/dnssec/verifier.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc

proto: simplify TBS construction argument
  crates/proto/src/rr/dnssec/signer.rs
  crates/proto/src/rr/dnssec/tbs.rs
  crates/proto/src/rr/dnssec/verifier.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/tests/authority_battery/dnssec.rs
Owners: @bluejekyll, @djc

proto: remove now unnecessary SerialNumber constructor
  crates/proto/src/rr/serial_number.rs
Owners: @bluejekyll, @djc

proto: suppress implicit features for optional dependencies
  crates/proto/Cargo.toml
  crates/proto/src/error.rs
  crates/proto/src/rr/dnssec/digest_type.rs
  crates/proto/src/rr/dnssec/ec_public_key.rs
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
  crates/proto/src/rr/dnssec/nsec3.rs
  crates/proto/src/rr/dnssec/public_key.rs
  crates/proto/src/rr/dnssec/rdata/dnskey.rs
  crates/proto/src/rr/dnssec/rdata/ds.rs
  crates/proto/src/rr/dnssec/rdata/key.rs
  crates/proto/src/rr/dnssec/rdata/tsig.rs
  crates/proto/src/rr/dnssec/signer.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

client: suppress implicit features for optional dependencies
  Cargo.lock
  crates/client/Cargo.toml
Owners: @bluejekyll, @djc

resolver: suppress implicit features for optional dependencies
  crates/resolver/Cargo.toml
Owners: @bluejekyll, @djc

server: fix compilation failures with dns-over-openssl enabled
  crates/server/src/config/dnssec.rs
  crates/server/src/server/server_future.rs
Owners: @bluejekyll, @djc

server: suppress implicit features for optional dependencies
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc

recursor: suppress implicit features for optional dependencies
  crates/recursor/Cargo.toml
Owners: @bluejekyll, @djc

refactor config group loop code in shared function
  crates/recursor/src/lib.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc

Add support for CNAME records to dns-test
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

CNAME resolution support for the recursor.
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/lookup.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/e2e-tests/src/lib.rs
  tests/e2e-tests/src/recursor.rs
  tests/e2e-tests/src/recursor/cname.rs
  tests/e2e-tests/src/recursor/cname/scenarios.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

Refactor lookup/resolve calls in ns_pool_for_zone
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc

# default owners for the whole repository
* @bluejekyll @djc

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
