Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

proto: move key_tag() method into PublicKey trait
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move to_dnskey() into PublicKey trait
  bin/src/dnssec.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
  crates/proto/src/rr/dnssec/signer.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/src/example_authority.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: remove unnecessary dnssec guards
  crates/proto/src/rr/dnssec/digest_type.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/nsec3.rs
  crates/proto/src/rr/dnssec/signer.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move to_ds() into PublicKey trait
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

ci: don't build benchmarks, only check them
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

unignore passing tests
  conformance/packages/conformance-tests/src/name_server/rfc4035/section_3/section_3_1/section_3_1_1.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

run a single test suite from `-ignored` tasks
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

use `set -euxo pipefail` in other -ignored tasks
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

justfile: fix the conformance-ignored task
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

adjust `grep` invocation in `-ignored` tasks
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

ede-dot-com: un-ignore v6_unspecified test
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: un-ignore more tests that pass
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/bad_referral.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix edge case bug for NSEC3 validation
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unignore passing tests
  conformance/packages/conformance-tests/src/resolver/nsec.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Unignore passing tests
  conformance/packages/conformance-tests/src/resolver/nsec.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix edge case bug for NSEC3 validation
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

conformance: un-ignore more tests that pass
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/bad_referral.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

run a single test suite from `-ignored` tasks
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

adjust `grep` invocation in `-ignored` tasks
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

unignore passing tests
  conformance/packages/conformance-tests/src/name_server/rfc4035/section_3/section_3_1/section_3_1_1.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

ede-dot-com: un-ignore v6_unspecified test
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

justfile: fix the conformance-ignored task
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

use `set -euxo pipefail` in other -ignored tasks
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

hickory-proto(serde): enable more enums/structs to be (de)serialized
  crates/proto/src/op/edns.rs
  crates/proto/src/op/header.rs
  crates/proto/src/op/message.rs
  crates/proto/src/op/op_code.rs
  crates/proto/src/op/query.rs
  crates/proto/src/op/response_code.rs
Owners: @bluejekyll, @djc, @marcus0x62

hickory-proto(serde): fix transparent structs
  crates/proto/src/rr/dnssec/rdata/cdnskey.rs
  crates/proto/src/rr/dnssec/rdata/cds.rs
  crates/proto/src/rr/dnssec/rdata/rrsig.rs
  crates/proto/src/rr/rdata/a.rs
  crates/proto/src/rr/rdata/aaaa.rs
  crates/proto/src/rr/rdata/https.rs
  crates/proto/src/rr/rdata/name.rs
  crates/proto/src/rr/rdata/svcb.rs
Owners: @bluejekyll, @djc, @marcus0x62

format code
  crates/proto/src/op/message.rs
  crates/proto/src/op/op_code.rs
  crates/proto/src/op/query.rs
  crates/proto/src/op/response_code.rs
Owners: @bluejekyll, @djc, @marcus0x62

hickory-proto(serde): fix transparent structs x2
  crates/proto/src/op/edns.rs
  crates/proto/src/op/header.rs
  crates/proto/src/rr/rdata/svcb.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: extract helper method for RSA public key serialization
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: extract helper method for EC public key serialization
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

util: avoid KeyPair type for public keys in pem-to-public-dnskey
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: commit key pairs to algorithm
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: privatize KeyPair::to_public_bytes()
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: require private keys inside KeyPair
  bin/src/dnssec.rs
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/signer.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: extract helper method for RSA public key serialization
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

util: avoid KeyPair type for public keys in pem-to-public-dnskey
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: extract helper method for EC public key serialization
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: privatize KeyPair::to_public_bytes()
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: commit key pairs to algorithm
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: require private keys inside KeyPair
  bin/src/dnssec.rs
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/signer.rs
Owners: @bluejekyll, @djc, @marcus0x62

Enforce CNAME lookup limits
  crates/proto/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62
