Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: replace KeyPair:ED25519 variant with Ed25519SigningKey
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: define SigningKey trait
  bin/src/dnssec.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Prepare 0.25.0-alpha.3 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Prepare 0.25.0-alpha.3 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

feat: Implement Round Robin server selection for DNS lookups
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

Bump dependency version for internal dependencies
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Bump dependency version for internal dependencies
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

ci: stop blocking on the platform matrix jobs
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

fix: modify UDP port assignment to be handled by the OS
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update udp_stream.rs
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

feat: added new feature to enable OS-level port assignment
  crates/proto/Cargo.toml
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

ci: stop blocking on the platform matrix jobs
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

feat: moved logic from feature to resolver opts
  crates/proto/Cargo.toml
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/connection_provider.rs
Owners: @bluejekyll, @djc, @marcus0x62

feat: Implement Round Robin server selection for DNS lookups
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

add support for NSEC3 opt-out to dns-test signer
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
  conformance/packages/conformance-tests/src/resolver/nsec.rs
  conformance/packages/dns-test/src/docker/bind.Dockerfile
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  conformance/packages/dns-test/src/docker/unbound.Dockerfile
  conformance/packages/dns-test/src/zone_file/mod.rs
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

NSEC3 opt-out support
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

DNSSEC insecure delegation support
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

debug logs for nsec/nsec3 proof decisions
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix and unignore existing insecure delegation tests
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add NSEC1 and NSEC3 opt-out tests to insecure tests scenarios
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

resolver: clean up imports
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: move test-only impl into tests module
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: move GenericNameServerPool above NameServerPool definition
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: collect directly into Arc<[T]>
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: tweak formatting
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: make ForwarderAuthority generic
  crates/server/src/store/forwarder/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: make ForwarderAuthority generic
  crates/server/src/store/forwarder/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Replace DnsResponse::new() constructor
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/quic/quic_stream.rs
  crates/proto/src/rr/dnssec/tsig.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/proto/src/xfer/dns_response.rs
Owners: @bluejekyll, @djc, @marcus0x62

Replace DnsResponse::new() constructor
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/quic/quic_stream.rs
  crates/proto/src/rr/dnssec/tsig.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/proto/src/xfer/dns_response.rs
Owners: @bluejekyll, @djc, @marcus0x62

Work around collision issue in ldns-signzone
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Avoid aliases for rustls::ClientConfig
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/quic.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: restrict PartialEq impl for NameServerConfig
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: use named fields for NameServerConfigGroup
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: simplify serde for NameServerConfigGroup
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: restrict PartialEq impl for NameServerConfigGroup
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove low-value equality wrapper
  crates/resolver/src/config.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/tls/dns_over_rustls.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove unnecessary PartialEq/Eq implementations
  bin/src/lib.rs
  bin/tests/integration/config_tests.rs
  crates/resolver/src/config.rs
  crates/resolver/src/system_conf/unix.rs
  crates/server/src/store/forwarder/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

CI: Check hickory-proto with WASI preview 1
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

CI: Check hickory-proto with WASI preview 1
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

Switch DnsLru from lru-cache to moka
  Cargo.lock
  Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
