Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

test for cname loop
  tests/e2e-tests/src/recursor/cname/cname_loop.py
  tests/e2e-tests/src/recursor/cname/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

test for cname loop
  tests/e2e-tests/src/recursor/cname/cname_loop.py
  tests/e2e-tests/src/recursor/cname/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Enforce CNAME lookup limits
  crates/proto/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update hashbrown
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

fix windows build, ResolveError changed to ResolveResult
  crates/resolver/src/system_conf/windows.rs
Owners: @bluejekyll, @djc, @marcus0x62

Skip fuzzer in past-future job
  .github/workflows/test.yml
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Check in fuzzer target lock file
  .gitignore
  fuzz/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Update hashbrown
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Add --locked
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Recursor: Create DnsResponse with consistent buffer
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62

Check in fuzzer target lock file (#2552)
  .gitignore
  fuzz/Cargo.lock
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

proto: move Edns test into tests module
  crates/proto/src/op/edns.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: encode EDNS flags in a separate type
  crates/proto/src/op/edns.rs
  crates/proto/src/op/mod.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/server/server_future.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Recursor: Create DnsResponse with consistent buffer
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: encode EDNS flags in a separate type
  crates/proto/src/op/edns.rs
  crates/proto/src/op/mod.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/server/server_future.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: move Edns test into tests module
  crates/proto/src/op/edns.rs
Owners: @bluejekyll, @djc, @marcus0x62

recursor: use async/await for RecursorDnsHandle implementation
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62

Recursor: set RD=0 in queries to nameservers
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/dns-test/src/tshark.rs
  crates/recursor/src/recursor_pool.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

fix windows build, ResolveError changed to ResolveResult
  crates/resolver/src/system_conf/windows.rs
Owners: @bluejekyll, @djc, @marcus0x62

Recursor: set RD=0 in queries to nameservers
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/dns-test/src/tshark.rs
  crates/recursor/src/recursor_pool.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

proto: remove deprecated KeyFormat::encode_key() method
  crates/proto/src/rr/dnssec/key_format.rs
Owners: @bluejekyll, @djc, @marcus0x62

recursor: use async/await for RecursorDnsHandle implementation
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62

Work around collision issue in ldns-signzone
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: detach decode_key() from KeyFormat
  bin/src/dnssec.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: define SigningKey trait
  bin/src/dnssec.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: take reference to keys in PublicKeyBuf constructors
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: yield trait object from decode_key()
  bin/src/dnssec.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/proto/src/rr/dnssec/keypair.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: rework DNSSEC tests to avoid generic encoding
  crates/proto/src/rr/dnssec/keypair.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: replace KeyPair:ED25519 variant with Ed25519SigningKey
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: replace KeyPair::ECDSA variant with EcdsaSigningKey
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: replace KeyPair::EC variant with EcSigningKey
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: replace remaining KeyPair usage with RsaSigningKey
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: replace remaining KeyPair usage with RsaSigningKey
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: remove deprecated KeyFormat::encode_key() method
  crates/proto/src/rr/dnssec/key_format.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: replace KeyPair::EC variant with EcSigningKey
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: detach decode_key() from KeyFormat
  bin/src/dnssec.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: replace KeyPair::ECDSA variant with EcdsaSigningKey
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: rework DNSSEC tests to avoid generic encoding
  crates/proto/src/rr/dnssec/keypair.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: take reference to keys in PublicKeyBuf constructors
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: yield trait object from decode_key()
  bin/src/dnssec.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/proto/src/rr/dnssec/keypair.rs
Owners: @bluejekyll, @djc, @marcus0x62
