Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

resolver: sort connections by query RTT directly
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove PartialOrd/Ord impls for NameServer
  crates/resolver/src/name_server/name_server.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialOrd/Ord impls for NameServerStats
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialEq/Eq impls for NameServerStats
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialEq/Eq impls for name server config types
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialEq/Eq impls for name server config types
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc, @marcus0x62

Conformance: Configurable Hickory DNS features
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/lib.rs
  justfile
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Show nameserver logs on failure of NSEC3 tests
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
  conformance/packages/dns-test/src/name_server.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Update justfile to invoke conformance-hickory-ring
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Switch between PEM and PKCS8 keys for nameserver
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

Change default of DNSSEC_FEATURE to dnssec-ring
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

Change default of DNSSEC_FEATURE to dnssec-ring
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

Update justfile to invoke conformance-hickory-ring
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Switch between PEM and PKCS8 keys for nameserver
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

Show nameserver logs on failure of NSEC3 tests
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
  conformance/packages/dns-test/src/name_server.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Conformance: Configurable Hickory DNS features
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/lib.rs
  justfile
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

CachingClient: Move query depth counter to stack
  crates/resolver/src/caching_client.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add separate ErrorKind for recursion limit
  crates/recursor/src/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add separate ErrorKind for recursion limit
  crates/recursor/src/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

Move LookupFuture to resolver module
  crates/async-std-resolver/src/tests.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/resolver.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Move LookupFuture to resolver module
  crates/async-std-resolver/src/tests.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/resolver.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

CachingClient: Move query depth counter to stack
  crates/resolver/src/caching_client.rs
Owners: @bluejekyll, @djc, @marcus0x62

Increase logging to diagnose Windows CI issue
  .github/workflows/test.yml
  crates/proto/src/udp/udp_stream.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Increase logging to diagnose Windows CI issue
  .github/workflows/test.yml
  crates/proto/src/udp/udp_stream.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fix outdated references to AsyncResolver
  crates/async-std-resolver/Cargo.toml
  crates/async-std-resolver/src/lib.rs
  crates/resolver/Cargo.toml
  crates/resolver/examples/flush_cache.rs
  crates/resolver/examples/global_resolver.rs
  crates/resolver/examples/multithreaded_runtime.rs
  crates/resolver/src/config.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/lookup_ip.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix outdated references to AsyncResolver
  crates/async-std-resolver/Cargo.toml
  crates/async-std-resolver/src/lib.rs
  crates/resolver/Cargo.toml
  crates/resolver/examples/flush_cache.rs
  crates/resolver/examples/global_resolver.rs
  crates/resolver/examples/multithreaded_runtime.rs
  crates/resolver/src/config.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/lookup_ip.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

async-std-resolver: remove README reference to mdns support
  crates/async-std-resolver/README.md
Owners: @bluejekyll, @djc, @marcus0x62

util: remove support for OpenSSL-based tools
  Cargo.lock
  justfile
  util/Cargo.toml
  util/src/bin/dnskey-to-pem.rs
  util/src/bin/get-root-ksks.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: remove integration test support for OpenSSL
  Cargo.lock
  justfile
  tests/integration-tests/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: remove stub Digest type
  crates/proto/src/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: clean up nsec3 tests
  crates/proto/src/dnssec/nsec3.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: assume at least one DNSSEC impl is enabled
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/tsig.rs
  crates/proto/src/dnssec/tsig.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: remove stub error types
  crates/proto/src/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: avoid unused imports in DS tests
  crates/proto/src/dnssec/rdata/ds.rs
Owners: @bluejekyll, @djc, @marcus0x62

bin: add integration tests for ring RSA keys
  bin/tests/integration/named_test_rsa_dnssec.rs
  tests/test-data/test_configs/dnssec/rsa_2048.pk8
  tests/test-data/test_configs/ring_dnssec.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

bin: switch tests from OpenSSL to ring
  bin/tests/integration/authority_battery/dnssec.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  tests/test-data/test_configs/all_supported_dnssec.toml
  tests/test-data/test_configs/dnssec_with_update.toml
  tests/test-data/test_configs/dnssec_with_update_deprecated.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: move SigSigner tests to ring
  crates/proto/src/dnssec/signer.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: clean up unused import warnings
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

bin: remove support for OpenSSL
  Cargo.lock
  bin/Cargo.toml
  bin/src/dnssec.rs
  bin/tests/integration/authority_battery/dnssec.rs
  bin/tests/integration/config_tests.rs
  bin/tests/integration/main.rs
  bin/tests/integration/named_openssl_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  conformance/packages/dns-test/src/implementation.rs
  justfile
  tests/test-data/test_configs/all_supported_dnssec.toml
  tests/test-data/test_configs/openssl_dnssec.toml
  tests/test-data/test_configs/ring_dnssec.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

server: remove support for OpenSSL
  Cargo.lock
  crates/server/Cargo.toml
  crates/server/src/server/server_future.rs
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
