Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

proto: externalize Arc-wrapping of public keys
  bin/src/dnssec.rs
  bin/src/hickory-dns.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/signer.rs
  crates/proto/src/serialize/txt/rdata_parsers/dnskey.rs
  crates/proto/src/serialize/txt/trust_anchor.rs
  crates/proto/tests/integration/dnssec_presentation_format_tests.rs
  crates/server/src/store/in_memory/authority.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: use real public keys in tests
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/serialize/txt/rdata_parsers/dnskey.rs
  crates/proto/src/serialize/txt/trust_anchor.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: simplify combinator-heavy OpenSSL code
  crates/proto/src/dnssec/openssl.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: regenerate ECDSA key from the wrong curve
  tests/test-data/test_configs/dnssec/ecdsa_p256.pem
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: decode directly to PublicKey
  bin/src/dnssec.rs
  bin/src/hickory-dns.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/proto/src/dnssec/ec_public_key.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/ring.rs
  crates/proto/src/dnssec/signer.rs
  crates/proto/src/serialize/txt/rdata_parsers/dnskey.rs
  crates/proto/src/serialize/txt/trust_anchor.rs
  crates/proto/tests/integration/dnssec_presentation_format_tests.rs
  crates/server/src/store/in_memory/authority.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: don't assert on unsupported algorithms
  crates/proto/src/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: enable storing invalid keys in DNSKEY/KEY types
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/verifier.rs
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
  crates/server/src/store/recursor/config.rs
  util/src/bin/get-root-ksks.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: cleanly split public decoding between backends
  crates/proto/src/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

wip
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure/deprecated_algorithm.rs
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  conformance/packages/dns-test/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: use single timeout value across protocols
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/runtime.rs
  crates/proto/src/rustls/tls_stream.rs
  crates/proto/src/xfer/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: inline H2 connection setup bindings
  crates/proto/src/h2/h2_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: clarify TLS connection error handling
  crates/proto/src/rustls/tls_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: deduplicate QUIC connection setup error handling
  crates/proto/src/quic/quic_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: deduplicate QUIC connection setup
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/quic/mod.rs
  crates/proto/src/quic/quic_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Don't implicitly enable DNSSEC when DoT is enabled
  bin/Cargo.toml
  bin/src/dnssec.rs
  crates/client/Cargo.toml
  crates/recursor/Cargo.toml
  crates/server/Cargo.toml
  tests/integration-tests/Cargo.toml
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

accept idle timeouts for TLS and HTTPS futures
  crates/server/src/server/server_future.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update authority documentation
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/store/file/authority.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/sqlite/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove mention of Subject Public Key Info in docs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/native_tls/tls_client_stream.rs
  crates/proto/src/openssl/tls_client_stream.rs
  crates/proto/src/openssl/tls_stream.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/rustls/tls_client_stream.rs
  crates/proto/src/rustls/tls_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update copied documentation
  crates/proto/src/dnssec/rdata/cdnskey.rs
  crates/proto/src/dnssec/rdata/cds.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update authority documentation
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/store/file/authority.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/sqlite/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove mention of Subject Public Key Info in docs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/native_tls/tls_client_stream.rs
  crates/proto/src/openssl/tls_client_stream.rs
  crates/proto/src/openssl/tls_stream.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/rustls/tls_client_stream.rs
  crates/proto/src/rustls/tls_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update copied documentation
  crates/proto/src/dnssec/rdata/cdnskey.rs
  crates/proto/src/dnssec/rdata/cds.rs
Owners: @bluejekyll, @djc, @marcus0x62

Don't implicitly enable DNSSEC when DoT is enabled
  bin/Cargo.toml
  bin/src/dnssec.rs
  crates/client/Cargo.toml
  crates/recursor/Cargo.toml
  crates/server/Cargo.toml
  tests/integration-tests/Cargo.toml
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: deduplicate QUIC connection setup error handling
  crates/proto/src/quic/quic_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: deduplicate QUIC connection setup
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/quic/mod.rs
  crates/proto/src/quic/quic_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: clarify TLS connection error handling
  crates/proto/src/rustls/tls_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: use single timeout value across protocols
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/runtime.rs
  crates/proto/src/rustls/tls_stream.rs
  crates/proto/src/xfer/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: inline H2 connection setup bindings
  crates/proto/src/h2/h2_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

accept idle timeouts for TLS and HTTPS futures
  crates/server/src/server/server_future.rs
Owners: @bluejekyll, @djc, @marcus0x62

Apply clippy suggestions for 1.83
  bin/tests/integration/config_tests.rs
  crates/client/src/client/client.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/sig.rs
  crates/proto/src/dnssec/ring.rs
  crates/proto/src/dnssec/supported_algorithm.rs
  crates/proto/src/dnssec/tsig.rs
  crates/proto/src/error.rs
  crates/proto/src/rr/dns_class.rs
  crates/proto/src/rr/domain/label.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/domain/usage.rs
  crates/proto/src/rr/rdata/mx.rs
  crates/proto/src/rr/rdata/svcb.rs
  crates/proto/src/rr/rdata/tlsa.rs
  crates/proto/src/rr/rdata/txt.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/record_type.rs
  crates/proto/src/rr/resource.rs
  crates/proto/src/rr/rr_set.rs
  crates/proto/src/serialize/binary/bin_tests.rs
  crates/proto/src/serialize/binary/mod.rs
  crates/proto/src/serialize/binary/restrict.rs
  crates/proto/src/serialize/txt/zone_lex.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/lookup_ip.rs
  crates/server/src/authority/authority.rs
  crates/server/src/authority/message_request.rs
  crates/server/src/authority/message_response.rs
  crates/server/src/store/sqlite/persistence.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Apply clippy suggestions for 1.83
  bin/tests/integration/config_tests.rs
  crates/client/src/client/client.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/sig.rs
  crates/proto/src/dnssec/ring.rs
  crates/proto/src/dnssec/supported_algorithm.rs
  crates/proto/src/dnssec/tsig.rs
  crates/proto/src/error.rs
  crates/proto/src/rr/dns_class.rs
  crates/proto/src/rr/domain/label.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/domain/usage.rs
  crates/proto/src/rr/rdata/mx.rs
  crates/proto/src/rr/rdata/svcb.rs
  crates/proto/src/rr/rdata/tlsa.rs
  crates/proto/src/rr/rdata/txt.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/record_type.rs
  crates/proto/src/rr/resource.rs
  crates/proto/src/rr/rr_set.rs
  crates/proto/src/serialize/binary/bin_tests.rs
  crates/proto/src/serialize/binary/mod.rs
  crates/proto/src/serialize/binary/restrict.rs
  crates/proto/src/serialize/txt/zone_lex.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/lookup_ip.rs
  crates/server/src/authority/authority.rs
  crates/server/src/authority/message_request.rs
  crates/server/src/authority/message_response.rs
  crates/server/src/store/sqlite/persistence.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

change PrefixSet::contains to PrefixSet::get_spm in matches_do_not_query
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: use real public keys in tests
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/serialize/txt/rdata_parsers/dnskey.rs
  crates/proto/src/serialize/txt/trust_anchor.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: regenerate ECDSA key from the wrong curve
  tests/test-data/test_configs/dnssec/ecdsa_p256.pem
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: simplify combinator-heavy OpenSSL code
  crates/proto/src/dnssec/openssl.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: commit public key to an algorithm
  crates/proto/src/dnssec/ec_public_key.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/ring.rs
  crates/proto/src/dnssec/signer.rs
  crates/proto/src/dnssec/verifier.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: replace PublicKeyEnum with decode_public_key() function
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/signer.rs
  crates/proto/src/dnssec/trust_anchor.rs
  crates/proto/src/dnssec/verifier.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: take reference to PublicKey where possible
  bin/src/dnssec.rs
  bin/src/hickory-dns.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/signer.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: move OpenSSL public key wrangling code into openssl module
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: make public key decoding paths independent of backend
  crates/proto/src/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62
