Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

recursor: remove support for OpenSSL
  crates/recursor/Cargo.toml
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove support for OpenSSL
  Cargo.lock
  crates/async-std-resolver/Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  crates/resolver/src/tls/mod.rs
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

client: remove support for OpenSSL
  crates/client/Cargo.toml
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

proto: remove support for OpenSSL
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  bin/tests/integration/server_harness/mod.rs
  crates/proto/Cargo.toml
  crates/proto/src/dnssec/algorithm.rs
  crates/proto/src/dnssec/digest_type.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/nsec3.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/tsig.rs
  crates/proto/src/error.rs
  crates/proto/src/lib.rs
  crates/proto/src/rustls/mod.rs
  crates/proto/src/rustls/tests.rs
  crates/proto/tests/integration/dnssec_presentation_format_tests.rs
  crates/proto/tests/integration/main.rs
  crates/proto/tests/integration/openssl_tests.rs
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Remove native-tls support
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  crates/async-std-resolver/Cargo.toml
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/proto/src/lib.rs
  crates/proto/src/native_tls/mod.rs
  crates/proto/src/native_tls/tests.rs
  crates/proto/src/native_tls/tls_client_stream.rs
  crates/proto/src/native_tls/tls_stream.rs
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/mod.rs
  justfile
  tests/integration-tests/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

resolver: simplify TLS setup
  crates/resolver/Cargo.toml
  crates/resolver/src/config.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tests.rs
  crates/resolver/src/tls.rs
  crates/resolver/src/tls/dns_over_rustls.rs
Owners: @bluejekyll, @djc, @marcus0x62

chore(deps): patch idna to 1.0.3
  Cargo.lock
  Cargo.toml
  crates/proto/src/rr/domain/label.rs
Owners: @bluejekyll, @djc, @marcus0x62

async-std-resolver: remove README reference to mdns support
  crates/async-std-resolver/README.md
Owners: @bluejekyll, @djc, @marcus0x62

fix: update ip of `example.com`
  Cargo.lock
  bin/tests/named_tests.rs
  crates/async-std-resolver/README.md
  crates/async-std-resolver/src/lib.rs
  crates/client/README.md
  crates/client/src/client/async_client.rs
  crates/client/src/lib.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/README.md
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/resolver.rs
  crates/resolver/src/tls/mod.rs
  crates/server/src/authority/message_response.rs
  crates/server/tests/forwarder.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/client_future_tests.rs
  tests/integration-tests/tests/client_tests.rs
  tests/integration-tests/tests/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/lookup_tests.rs
  tests/integration-tests/tests/server_future_tests.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
  util/README.md
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

fix: update ip of `example.com`
  README.md
  crates/proto/src/op/message.rs
Owners: @bluejekyll, @djc, @marcus0x62

style: apply clippy suggestions
  bin/tests/server_harness/mod.rs
  crates/client/src/client/async_secure_client.rs
  crates/client/src/rr/zone.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/op/edns.rs
  crates/proto/src/op/message.rs
  crates/proto/src/rr/dns_class.rs
  crates/proto/src/rr/dnssec/public_key.rs
  crates/proto/src/rr/dnssec/rsa_public_key.rs
  crates/proto/src/rr/dnssec/supported_algorithm.rs
  crates/proto/src/rr/domain/label.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/domain/try_parse_ip.rs
  crates/proto/src/rr/rdata/caa.rs
  crates/proto/src/rr/rdata/svcb.rs
  crates/proto/src/rr/rdata/tlsa.rs
  crates/proto/src/rr/rdata/txt.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/record_type.rs
  crates/proto/src/rr/resource.rs
  crates/proto/src/rr/rr_set.rs
  crates/proto/src/serialize/binary/bin_tests.rs
  crates/proto/src/serialize/binary/decoder.rs
  crates/proto/src/serialize/binary/encoder.rs
  crates/proto/src/serialize/binary/mod.rs
  crates/proto/src/serialize/binary/restrict.rs
  crates/proto/src/serialize/txt/zone_lex.rs
  crates/proto/src/udp/udp_stream.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/lookup_ip.rs
  crates/server/src/authority/message_request.rs
  crates/server/src/authority/message_response.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/sqlite/persistence.rs
  tests/compatibility-tests/src/bind.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fix up certificate generation scripts
  justfile
  scripts/gen_certs.sh
  tests/test-data/test_configs/sec/gen-keys.sh
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Regenerate test certificates
  tests/test-data/ca.der
  tests/test-data/ca.key
  tests/test-data/ca.pem
  tests/test-data/ca.pubkey
  tests/test-data/cert-key.pk8
  tests/test-data/cert.csr
  tests/test-data/cert.key
  tests/test-data/cert.p12
  tests/test-data/cert.pem
  tests/test-data/test_configs/sec/example.cert
  tests/test-data/test_configs/sec/example.cert.pem
  tests/test-data/test_configs/sec/example.key
  tests/test-data/test_configs/sec/example.key.pem
  tests/test-data/test_configs/sec/example.p12
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: remove support for OpenSSL
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  bin/tests/integration/server_harness/mod.rs
  crates/proto/Cargo.toml
  crates/proto/src/dnssec/algorithm.rs
  crates/proto/src/dnssec/digest_type.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/nsec3.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/tsig.rs
  crates/proto/src/error.rs
  crates/proto/src/lib.rs
  crates/proto/src/rustls/mod.rs
  crates/proto/src/rustls/tests.rs
  crates/proto/tests/integration/dnssec_presentation_format_tests.rs
  crates/proto/tests/integration/main.rs
  crates/proto/tests/integration/openssl_tests.rs
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

tests: remove integration test support for OpenSSL
  Cargo.lock
  justfile
  tests/integration-tests/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

server: remove support for OpenSSL
  Cargo.lock
  crates/server/Cargo.toml
  crates/server/src/server/server_future.rs
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

proto: clean up nsec3 tests
  crates/proto/src/dnssec/nsec3.rs
Owners: @bluejekyll, @djc, @marcus0x62

bin: remove support for OpenSSL
  Cargo.lock
  bin/Cargo.toml
  bin/src/dnssec.rs
  bin/tests/integration/authority_battery/dnssec.rs
  bin/tests/integration/config_tests.rs
  bin/tests/integration/main.rs
  bin/tests/integration/named_openssl_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  conformance/packages/dns-test/src/implementation.rs
  justfile
  tests/test-data/test_configs/all_supported_dnssec.toml
  tests/test-data/test_configs/openssl_dnssec.toml
  tests/test-data/test_configs/ring_dnssec.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: assume at least one DNSSEC impl is enabled
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/tsig.rs
  crates/proto/src/dnssec/tsig.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: remove stub Digest type
  crates/proto/src/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: clean up unused import warnings
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: move SigSigner tests to ring
  crates/proto/src/dnssec/signer.rs
Owners: @bluejekyll, @djc, @marcus0x62

client: remove support for OpenSSL
  crates/client/Cargo.toml
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

bin: switch tests from OpenSSL to ring
  bin/tests/integration/authority_battery/dnssec.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  tests/test-data/test_configs/all_supported_dnssec.toml
  tests/test-data/test_configs/dnssec_with_update.toml
  tests/test-data/test_configs/dnssec_with_update_deprecated.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: avoid unused imports in DS tests
  crates/proto/src/dnssec/rdata/ds.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove native-tls support
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  crates/async-std-resolver/Cargo.toml
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/proto/src/lib.rs
  crates/proto/src/native_tls/mod.rs
  crates/proto/src/native_tls/tests.rs
  crates/proto/src/native_tls/tls_client_stream.rs
  crates/proto/src/native_tls/tls_stream.rs
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/mod.rs
  justfile
  tests/integration-tests/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: remove stub error types
  crates/proto/src/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: simplify TLS setup
  crates/resolver/Cargo.toml
  crates/resolver/src/config.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tests.rs
  crates/resolver/src/tls.rs
  crates/resolver/src/tls/dns_over_rustls.rs
Owners: @bluejekyll, @djc, @marcus0x62

bin: add integration tests for ring RSA keys
  bin/tests/integration/named_test_rsa_dnssec.rs
  tests/test-data/test_configs/dnssec/rsa_2048.pk8
  tests/test-data/test_configs/ring_dnssec.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

recursor: remove support for OpenSSL
  crates/recursor/Cargo.toml
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove support for OpenSSL
  Cargo.lock
  crates/async-std-resolver/Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  crates/resolver/src/tls/mod.rs
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

util: remove support for OpenSSL-based tools
  Cargo.lock
  justfile
  util/Cargo.toml
  util/src/bin/dnskey-to-pem.rs
  util/src/bin/get-root-ksks.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: minor cleanup
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/rdata/name.rs
  crates/proto/src/rr/rdata/svcb.rs
  crates/proto/src/serialize/binary/encoder.rs
  crates/proto/src/serialize/txt/rdata_parsers/svcb.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: account for fqdn in PartialEq impl
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/serialize/txt/parse_rdata.rs
  crates/proto/src/serialize/txt/rdata_parsers/svcb.rs
Owners: @bluejekyll, @djc, @marcus0x62

account for fqdn in Name::cmp_with_f
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

additional trait tests for name and lowername
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/lower_name.rs
Owners: @bluejekyll, @djc, @marcus0x62

Make Query::new() return root label by default
  crates/proto/src/op/query.rs
Owners: @bluejekyll, @djc, @marcus0x62

make bin encoder and decoder agree
  bin/tests/integration/authority_battery/basic.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/sqlite_tests.rs
  bin/tests/integration/txt_tests.rs
  crates/proto/src/dnssec/rdata/nsec.rs
  crates/proto/src/dnssec/rdata/sig.rs
  crates/proto/src/dnssec/tsig.rs
  crates/proto/src/op/query.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/rdata/mx.rs
  crates/proto/src/rr/rdata/naptr.rs
  crates/proto/src/rr/rdata/soa.rs
  crates/proto/src/rr/rdata/srv.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/resource.rs
  crates/proto/src/serialize/binary/encoder.rs
  crates/proto/src/tests/udp.rs
  crates/proto/src/xfer/dns_handle.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/resolver.rs
  crates/resolver/src/system_conf/unix.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

eq_ignore_root and eq_ignore_root_case methods for Name
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

unit test for resolver build_names
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62
