Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

conformance: add test to check tc bit
  conformance/packages/conformance-tests/src/name_server/rfc4035/section_3/section_3_1/section_3_1_1.rs
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Trying to elicit information on TC bit
  conformance/packages/conformance-tests/src/name_server/rfc4035/section_3/section_3_1/section_3_1_1.rs
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Increase validation log level
  conformance/packages/dns-test/src/templates/unbound.conf.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

Install ps and vim tools
  conformance/packages/dns-test/src/docker/unbound.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

Support TXT records
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add test to check ede state 20
  conformance/packages/conformance-tests/src/name_server.rs
  conformance/packages/conformance-tests/src/name_server/rfc8914.rs
  conformance/packages/conformance-tests/src/resolver.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/rfc8914.rs
  conformance/packages/dns-test/src/client.rs
  conformance/packages/dns-test/src/docker/bind.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

Trying to improve test
  conformance/packages/conformance-tests/src/resolver/rfc8914.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Rewrite test
  conformance/packages/conformance-tests/src/name_server/rfc8914.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix variant name
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add NSEC record support
  conformance/packages/dns-test/src/record.rs
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix copied comment
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

Explicitly limit H2 support to rustls
  bin/Cargo.toml
  bin/src/hickory-dns.rs
  bin/tests/named_https_tests.rs
  bin/tests/server_harness/mod.rs
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/proto/Cargo.toml
  crates/proto/src/http/error.rs
  crates/proto/src/http/mod.rs
  crates/proto/src/http/request.rs
  crates/proto/src/lib.rs
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/config.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/server/Cargo.toml
  crates/server/src/server/mod.rs
  tests/integration-tests/Cargo.toml
  util/Cargo.toml
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add NxProof config
  bin/src/hickory-dns.rs
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/config/mod.rs
  crates/server/src/store/file/authority.rs
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/sqlite/authority.rs
  crates/server/tests/config_tests.rs
  crates/server/tests/in_memory.rs
  crates/server/tests/store_file_tests.rs
  crates/server/tests/store_sqlite_tests.rs
  crates/server/tests/txt_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
  tests/integration-tests/tests/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Use u16 instead of NonZeroU16 for iterations
  crates/server/src/config/mod.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Run rustfmt
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/tests/in_memory.rs
  crates/server/tests/store_file_tests.rs
  crates/server/tests/store_sqlite_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Explicitly limit H2 support to rustls
  bin/Cargo.toml
  bin/src/hickory-dns.rs
  bin/tests/named_https_tests.rs
  bin/tests/server_harness/mod.rs
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/proto/Cargo.toml
  crates/proto/src/http/error.rs
  crates/proto/src/http/mod.rs
  crates/proto/src/http/request.rs
  crates/proto/src/lib.rs
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/config.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/server/Cargo.toml
  crates/server/src/server/mod.rs
  tests/integration-tests/Cargo.toml
  util/Cargo.toml
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fix panic in hash function and add test for regression
  crates/proto/src/rr/dnssec/nsec3.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix warning in Dockerfile
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

Propagate proto errors
  crates/server/src/authority/error.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix panic in hash function and add test for regression (#2368)
  crates/proto/src/rr/dnssec/nsec3.rs
Owners: @bluejekyll, @djc, @marcus0x62

make AsyncResolver take hosts file into account
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/lookup.rs
Owners: @bluejekyll, @djc, @marcus0x62

Make use_hosts_file a tristate option
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/config.rs
  crates/server/src/store/forwarder/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Ignore FQDN when forwarding DNS queries
  crates/server/src/store/forwarder/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade prefix-trie to 0.4
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade rusqlite to 0.32
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade h3 and h3-quinn to 0.0.6/0.0.7
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Make use_hosts_file a tristate option
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/config.rs
  crates/server/src/store/forwarder/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Ignore FQDN when forwarding DNS queries
  crates/server/src/store/forwarder/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

make AsyncResolver take hosts file into account
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/lookup.rs
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade rusqlite to 0.32
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade prefix-trie to 0.4
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade h3 and h3-quinn to 0.0.6/0.0.7
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Use lowercase strings for non-existence proofs
  crates/server/src/config/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix warning in Dockerfile
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix stdout handling during hickory startup
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Increase validation log level
  conformance/packages/dns-test/src/templates/unbound.conf.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

Revert "Fix stdout handling during hickory startup"
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Revert "Fix stdout handling during hickory startup"
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz
