Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

proto: define constant for TCP handshake timeout
  crates/proto/src/runtime.rs
  crates/proto/src/xfer/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: apply handshake timeout to QUIC
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/xfer/mod.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: apply timeout to the H3 handshake phase
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/xfer/mod.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

dns-test: Add basic support for TXT records
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Conformance: tests for handling of TC=1 responses
  conformance/packages/conformance-tests/src/resolver/dns.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035/truncated_udp_only.py
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035/truncated_with_tcp_fallback.py
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035/truncation.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: split public key backend code by backend
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/ring.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: colocate Verifier impls with their types
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/verifier.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move tests to the bottom of the module
  crates/proto/src/dnssec/rdata/key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move KEY impls closer to type definition
  crates/proto/src/dnssec/rdata/key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move sig0 KEY creation into KEY methods
  bin/src/hickory-dns.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/signer.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: move DNSKEY creation into constructor
  bin/src/dnssec.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/signer.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/src/example_authority.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: move DS creation into constructor
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/ds.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move key_tag() logic close to usage site
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/ds.rs
Owners: @bluejekyll, @djc, @marcus0x62

bump idna to 1.0
  Cargo.lock
  Cargo.toml
  conformance/Cargo.lock
  crates/proto/src/rr/domain/label.rs
  fuzz/Cargo.lock
  tests/e2e-tests/Cargo.lock
  tests/ede-dot-com/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: move sig0 KEY creation into KEY methods
  bin/src/hickory-dns.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/signer.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: move DNSKEY creation into constructor
  bin/src/dnssec.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/signer.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/src/example_authority.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: move tests to the bottom of the module
  crates/proto/src/dnssec/rdata/key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move key_tag() logic close to usage site
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/ds.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: colocate Verifier impls with their types
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/verifier.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: split public key backend code by backend
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/ring.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move DS creation into constructor
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/ds.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move KEY impls closer to type definition
  crates/proto/src/dnssec/rdata/key.rs
Owners: @bluejekyll, @djc, @marcus0x62

bump idna to 1.0
  Cargo.lock
  Cargo.toml
  conformance/Cargo.lock
  crates/proto/src/rr/domain/label.rs
  fuzz/Cargo.lock
  tests/e2e-tests/Cargo.lock
  tests/ede-dot-com/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Document suggested rust-analyzer configuration
  CONTRIBUTING.md
Owners: @bluejekyll, @djc, @marcus0x62

Drop privileges on Unix-family platforms
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
  conformance/packages/dns-test/src/templates/hickory.resolver.toml.jinja
  tests/e2e-tests/src/resolver/do_not_query.toml.jinja
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

conformance: make the low level Container API public
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: define constant for TCP handshake timeout
  crates/proto/src/runtime.rs
  crates/proto/src/xfer/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

conformance: add netcat to client Docker image
  conformance/packages/dns-test/src/docker/client.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: apply handshake timeout to QUIC
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/xfer/mod.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: apply handshake timeout to DoT
  crates/proto/src/rustls/tls_stream.rs
  crates/proto/src/xfer/mod.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: apply timeout to TLS handshake phase
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/xfer/mod.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

extend test to DoT, DoQ and DoH3 protocols
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  tests/e2e-tests/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: apply timeout to the H3 handshake phase
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/xfer/mod.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

conformance: add util/dns to Docker image
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

e2e-tests: test client against unresponsive TLS server
  tests/e2e-tests/src/client.rs
  tests/e2e-tests/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: use single timeout value across protocols
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/runtime.rs
  crates/proto/src/rustls/tls_stream.rs
  crates/proto/src/xfer/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: make PublicKeyEnum 'static
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/ring.rs
  crates/proto/src/dnssec/rsa_public_key.rs
  crates/proto/src/dnssec/verifier.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: store PublicKey objects in DNSKEY/KEY types
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/cdnskey.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/signer.rs
  crates/proto/src/dnssec/trust_anchor.rs
  crates/proto/src/dnssec/verifier.rs
  crates/proto/src/serialize/txt/rdata_parsers/dnskey.rs
  crates/proto/src/serialize/txt/trust_anchor.rs
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
  crates/proto/tests/integration/dnssec_presentation_format_tests.rs
  crates/server/src/store/recursor/config.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  util/src/bin/get-root-ksks.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: drop PublicKeyEnum type
  crates/proto/src/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: centralize PublicKey trait bounds
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/key.rs
Owners: @bluejekyll, @djc, @marcus0x62
