Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

recursor: deduplicate default values
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Use nice formatting for numbers
  conformance/packages/dns-test/src/zone_file/signer.rs
  crates/client/src/tests.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h2/h2_server.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/op/message.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/signer.rs
  crates/proto/src/serialize/txt/zone_lex.rs
  crates/proto/src/udp/mod.rs
  crates/proto/src/udp/udp_stream.rs
  crates/proto/tests/integration/openssl_tests.rs
  crates/recursor/src/recursor.rs
  crates/server/src/server/server_future.rs
  crates/server/src/store/recursor/config.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

recursor: move Default impl below inherent impl
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62

Set up tracing subscriber in various tests
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/tests/integration/main.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_tests.rs
  crates/async-std-resolver/Cargo.toml
  crates/async-std-resolver/src/tests.rs
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/tests/mod.rs
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/name_server/name_server.rs
  crates/server/Cargo.toml
  crates/server/tests/integration/authority_battery/basic.rs
  crates/server/tests/integration/main.rs
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/main.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  util/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Set up tracing subscriber in various tests
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/tests/integration/main.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_tests.rs
  crates/async-std-resolver/Cargo.toml
  crates/async-std-resolver/src/tests.rs
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/tests/mod.rs
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/name_server/name_server.rs
  crates/server/Cargo.toml
  crates/server/tests/integration/authority_battery/basic.rs
  crates/server/tests/integration/main.rs
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/main.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  util/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add extend_records method to Lookup implementation to allow the recursor CNAME mechanism to add records to an existing lookup
  crates/resolver/src/lookup.rs
Owners: @bluejekyll, @djc, @marcus0x62

Preserve original query type in cache lookup
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

CNAME lookup logic for the recursor
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Tests for the recursor CNAME implementation
  tests/e2e-tests/src/lib.rs
  tests/e2e-tests/src/recursor.rs
  tests/e2e-tests/src/recursor/cname.rs
  tests/e2e-tests/src/recursor/cname/scenarios.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix nightly toolchain on coverage
  .github/workflows/test.yml
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

use read_data lib, doc formating
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

implement BinDecodable for CertType and Algorithm
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

implement rfc4398 CERT record type
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/rr/rdata/mod.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/record_type.rs
  crates/proto/src/serialize/txt/parse_rdata.rs
  crates/proto/src/serialize/txt/rdata_parsers/cert.rs
  crates/proto/src/serialize/txt/rdata_parsers/mod.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/lookup.rs
Owners: @bluejekyll, @djc, @marcus0x62

formating, clippy
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add extend_records method to Lookup implementation to allow the recursor CNAME mechanism to add records to an existing lookup
  crates/resolver/src/lookup.rs
Owners: @bluejekyll, @djc, @marcus0x62

CNAME lookup logic for the recursor
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Preserve original query type in cache lookup
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

Tests for the recursor CNAME implementation
  tests/e2e-tests/src/lib.rs
  tests/e2e-tests/src/recursor.rs
  tests/e2e-tests/src/recursor/cname.rs
  tests/e2e-tests/src/recursor/cname/scenarios.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

Extract tracing-subscriber setup to new crate
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/tests/integration/main.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_tests.rs
  crates/async-std-resolver/Cargo.toml
  crates/async-std-resolver/src/tests.rs
  crates/proto/Cargo.toml
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/tests/mod.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/resolver/Cargo.toml
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/name_server/name_server.rs
  crates/server/Cargo.toml
  crates/server/tests/integration/authority_battery/basic.rs
  crates/server/tests/integration/main.rs
  justfile
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/main.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  tests/test-support/Cargo.toml
  tests/test-support/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Extract tracing-subscriber setup to new crate
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/tests/integration/main.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_tests.rs
  crates/async-std-resolver/Cargo.toml
  crates/async-std-resolver/src/tests.rs
  crates/proto/Cargo.toml
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/tests/mod.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/resolver/Cargo.toml
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/name_server/name_server.rs
  crates/server/Cargo.toml
  crates/server/tests/integration/authority_battery/basic.rs
  crates/server/tests/integration/main.rs
  justfile
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/main.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  tests/test-support/Cargo.toml
  tests/test-support/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

fix clippy
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

implement rfc4398 CERT record type
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/rr/rdata/mod.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/record_type.rs
  crates/proto/src/rr/resource.rs
  crates/proto/src/serialize/txt/parse_rdata.rs
  crates/proto/src/serialize/txt/rdata_parsers/cert.rs
  crates/proto/src/serialize/txt/rdata_parsers/mod.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/lookup.rs
Owners: @bluejekyll, @djc, @marcus0x62

formating
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

formating, clippy
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

use read_data lib, doc formating
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix formating
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/record_type.rs
  crates/proto/src/rr/resource.rs
Owners: @bluejekyll, @djc, @marcus0x62

rework to utilize enums, finish parser, add tests
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/serialize/txt/rdata_parsers/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

implement BinDecodable for CertType and Algorithm
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

cleanup annotations, enums, position; try_from
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/serialize/txt/rdata_parsers/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix double decode, tests
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix test order
  crates/proto/src/rr/record_type.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix tests, clippy
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/serialize/txt/rdata_parsers/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unignore `wildcard_no_data_response`
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

SignSettings: rm use_dnssec field
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix udp create immediate polling wrong
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Use std futures where possible
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/lib.rs
  crates/proto/src/multicast/mdns_client_stream.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/udp/udp_stream.rs
  crates/proto/src/xfer/dns_exchange.rs
  crates/proto/src/xfer/mod.rs
  crates/proto/src/xfer/retry_dns_handle.rs
  crates/resolver/examples/global_resolver.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/lookup_ip.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  crates/resolver/src/tls/dns_over_rustls.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  tests/integration-tests/tests/integration/retry_dns_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: invert branch to linearize function
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

proto: use RuntimeProvider to build UDP stream
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_tests.rs
  crates/client/src/udp/udp_client_connection.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/server/src/server/server_future.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz
