Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

remove config, change match expr
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

fix test_datagram_fails_to_stream
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

fix test_datagram_fails_to_stream
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

restrict retry over tcp to i/o errors only, when enabled
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

remove config, change match expr
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

tests
  tests/e2e-tests/src/recursor/cname/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Single- and multi-level CNAME tests
  tests/e2e-tests/src/recursor/cname/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

server: suppress implicit features for optional dependencies
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc

server: fix compilation failures with dns-over-openssl enabled
  crates/server/src/config/dnssec.rs
  crates/server/src/server/server_future.rs
Owners: @bluejekyll, @djc

proto: suppress implicit features for optional dependencies
  crates/proto/Cargo.toml
  crates/proto/src/error.rs
  crates/proto/src/rr/dnssec/digest_type.rs
  crates/proto/src/rr/dnssec/ec_public_key.rs
  crates/proto/src/rr/dnssec/key_format.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/mod.rs
  crates/proto/src/rr/dnssec/nsec3.rs
  crates/proto/src/rr/dnssec/public_key.rs
  crates/proto/src/rr/dnssec/rdata/dnskey.rs
  crates/proto/src/rr/dnssec/rdata/ds.rs
  crates/proto/src/rr/dnssec/rdata/key.rs
  crates/proto/src/rr/dnssec/rdata/tsig.rs
  crates/proto/src/rr/dnssec/signer.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

resolver: suppress implicit features for optional dependencies
  crates/resolver/Cargo.toml
Owners: @bluejekyll, @djc

recursor: suppress implicit features for optional dependencies
  crates/recursor/Cargo.toml
Owners: @bluejekyll, @djc

client: suppress implicit features for optional dependencies
  Cargo.lock
  crates/client/Cargo.toml
Owners: @bluejekyll, @djc

update changelog and bump version for 0.25.0-alpha.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc

add in rustls and build change to Changelog
  CHANGELOG.md
Owners: @bluejekyll, @djc

add in rustls and build change to Changelog
  CHANGELOG.md
Owners: @bluejekyll, @djc

update changelog and bump version for 0.25.0-alpha.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc

Recursion limit test
  tests/e2e-tests/src/recursor/cname/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add a newline between records in resolve report
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc

add a newline between records in resolve report
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc

proto: make time dependency optional
  crates/proto/Cargo.toml
Owners: @bluejekyll, @djc

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc

# default owners for the whole repository
* @bluejekyll @djc

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
