Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

dns-test: add inspect helper
  conformance/packages/dns-test/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Change domain name used in 'explore' example
  conformance/packages/dns-test/examples/explore.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add inspect helper
  conformance/packages/dns-test/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: do not create a PID file for hickory-dns
  conformance/packages/dns-test/src/implementation.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: write logs to local files
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/resolver.rs
  tests/e2e-tests/src/resolver/dnssec/regression.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: bump unbound to 1.21.0
  conformance/packages/dns-test/src/docker/unbound.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

update EDE test
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/ede.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Change domain name used in 'explore' example
  conformance/packages/dns-test/examples/explore.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: test resolver with query about unsigned zone
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add append_ips method to NameServerConfigGroup
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix Issue #2306 / infinite recursion in ns_pool_for_zone
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add append_ips method to NameServerConfigGroup
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix Issue #2306 / infinite recursion in ns_pool_for_zone
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

update EDE test
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/ede.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: bump unbound to 1.21.0
  conformance/packages/dns-test/src/docker/unbound.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: replace Borrow<Name> impl for LowerName with Deref
  crates/proto/src/rr/lower_name.rs
Owners: @bluejekyll, @djc, @marcus0x62

dns-test: allow testing against the public DNS infra
  conformance/packages/dns-test/src/container/network.rs
  conformance/packages/dns-test/src/trust_anchor.rs
  conformance/packages/dns-test/src/zone_file/mod.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add ede-dot-com test suite
  .github/workflows/conformance.yml
  justfile
  tests/ede-dot-com/Cargo.lock
  tests/ede-dot-com/Cargo.toml
  tests/ede-dot-com/README.md
  tests/ede-dot-com/src/lib.rs
  tests/ede-dot-com/src/sanity_check.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

dns-test: allow testing against the public DNS infra
  conformance/packages/dns-test/src/container/network.rs
  conformance/packages/dns-test/src/trust_anchor.rs
  conformance/packages/dns-test/src/zone_file/mod.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add ede-dot-com test suite
  .github/workflows/conformance.yml
  justfile
  tests/ede-dot-com/Cargo.lock
  tests/ede-dot-com/Cargo.toml
  tests/ede-dot-com/README.md
  tests/ede-dot-com/src/lib.rs
  tests/ede-dot-com/src/sanity_check.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

dns-test: add FQDN::push_label
  conformance/packages/dns-test/src/fqdn.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: no RRSIG that covers DNSKEYs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

validate DNSKEY's RRSIGs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

conformance: test a different query
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus/no_rrsig_dnskey.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

only use Secure DNSKEYs to validate records
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus/no_rrsig_dnskey.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

conformance: move test into a new module
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus/no_rrsig_dnskey.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

only use Secure DNSKEYs to validate records
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus/no_rrsig_dnskey.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

dns-test: add FQDN::push_label
  conformance/packages/dns-test/src/fqdn.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: test a different query
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus/no_rrsig_dnskey.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: move test into a new module
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus/no_rrsig_dnskey.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: no RRSIG that covers DNSKEYs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

validate DNSKEY's RRSIGs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

proto: simplify verify_dnskey_rrset()
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: simplify verify_dnskey_rrset()
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: simplify verify_dnskey_rrset() some more
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Block recursive queries to configured networks
  Cargo.lock
  crates/recursor/Cargo.toml
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/config/mod.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: simplify verify_dnskey_rrset() some more
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

dns-test: Add option to override config file
  conformance/packages/dns-test/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add end-to-end tests
  tests/e2e-tests/Cargo.lock
  tests/e2e-tests/Cargo.toml
  tests/e2e-tests/src/resolver.rs
  tests/e2e-tests/src/resolver/do_not_query.rs
  tests/e2e-tests/src/resolver/do_not_query.toml.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: replace Borrow<Name> impl for LowerName with Deref
  crates/proto/src/rr/lower_name.rs
Owners: @bluejekyll, @djc, @marcus0x62
