Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

Unignore H3 timeout test
  tests/e2e-tests/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add CI job to run cargo check-all-features
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

Remove unnecessary compilation in coverage recipe
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Move coverage reports to separate output directory
  .github/workflows/test.yml
  .gitignore
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Update READMEs
  README.md
  bin/README.md
  crates/client/README.md
  crates/client/src/lib.rs
  crates/client/src/tests.rs
  crates/resolver/README.md
  crates/resolver/src/lib.rs
  crates/resolver/src/tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Pass --doctests to cargo llvm-cov report too
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Avoid rebuilding dependencies across coverage runs
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Add CI job to run cargo check-all-features
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

Pass --doctests to cargo llvm-cov report too
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Avoid rebuilding dependencies across coverage runs
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Move coverage reports to separate output directory
  .github/workflows/test.yml
  .gitignore
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Remove unnecessary compilation in coverage recipe
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Document suggested rust-analyzer configuration
  CONTRIBUTING.md
Owners: @bluejekyll, @djc, @marcus0x62

Update url in fuzzer lockfile
  fuzz/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Update url in fuzzer lockfile
  fuzz/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Box the query in ProtoErrorKind::Nsec
  crates/proto/src/error.rs
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Box the query in ProtoErrorKind::Nsec
  crates/proto/src/error.rs
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Bump MSRV to 1.71 for rustls 0.23.18
  .github/workflows/test.yml
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

proto: don't drop messages after failure to parse
  crates/proto/src/udp/udp_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Bump MSRV to 1.71 for rustls 0.23.18
  .github/workflows/test.yml
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Redirect output of command to clean up test output
  conformance/packages/dns-test/src/container.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Remove incorrect TODO
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add conformance test for DAU/DHU/N3U in responses
  conformance/packages/conformance-tests/src/resolver/dnssec.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc6975.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc6975/section_4.rs
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Do not send DAU/DHU options in responses
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc6975/section_4.rs
  crates/server/src/authority/catalog.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Redirect output of command to clean up test output
  conformance/packages/dns-test/src/container.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Remove incorrect TODO
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Do not send DAU/DHU options in responses
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc6975/section_4.rs
  crates/server/src/authority/catalog.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Add conformance test for DAU/DHU/N3U in responses
  conformance/packages/conformance-tests/src/resolver/dnssec.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc6975.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc6975/section_4.rs
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Drop privileges on Unix-family platforms
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
  conformance/packages/dns-test/src/templates/hickory.resolver.toml.jinja
  tests/e2e-tests/src/resolver/do_not_query.toml.jinja
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

dns-test: Add basic support for TXT records
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Conformance: tests for handling of TC=1 responses
  conformance/packages/conformance-tests/src/resolver/dns.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035/truncated_udp_only.py
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035/truncated_with_tcp_fallback.py
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035/truncation.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: add util/dns to Docker image
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: add netcat to client Docker image
  conformance/packages/dns-test/src/docker/client.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: make the low level Container API public
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: apply timeout to TLS handshake phase
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/xfer/mod.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

e2e-tests: test client against unresponsive TLS server
  tests/e2e-tests/src/client.rs
  tests/e2e-tests/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

extend test to DoT, DoQ and DoH3 protocols
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  tests/e2e-tests/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: apply handshake timeout to DoT
  crates/proto/src/rustls/tls_stream.rs
  crates/proto/src/xfer/mod.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz
