Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

refactor!: remove `file` configuration parameter
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/config_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
  tests/test-data/test_configs/all_supported_dnssec.toml
  tests/test-data/test_configs/chained_blocklist.toml
  tests/test-data/test_configs/consulting_blocklist.toml
  tests/test-data/test_configs/dns_over_https.toml
  tests/test-data/test_configs/dns_over_quic.toml
  tests/test-data/test_configs/dns_over_tls.toml
  tests/test-data/test_configs/dns_over_tls_rustls_and_openssl.toml
  tests/test-data/test_configs/dnssec_with_update.toml
  tests/test-data/test_configs/dnssec_with_update_deprecated.toml
  tests/test-data/test_configs/example.toml
  tests/test-data/test_configs/example_allow_networks.toml
  tests/test-data/test_configs/example_deny_allow_networks.toml
  tests/test-data/test_configs/example_deny_networks.toml
  tests/test-data/test_configs/example_forwarder.toml
  tests/test-data/test_configs/example_recursor.toml
  tests/test-data/test_configs/ipv4_and_ipv6.toml
  tests/test-data/test_configs/ipv4_only.toml
  tests/test-data/test_configs/ipv6_only.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse DO flag from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: allow disabling EDNS version negotiation
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: detect if OPT is present in dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add NOTIMP return code
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add option to set EDNS version
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add EDNS CLIENT-SUBNET option for dig
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add EDNS NSID option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse truncation flag from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse opcode from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

replace if-else with match
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add setting to send an extra EDNS option
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add EDNS EXPIRE option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add dig setting to disable COOKIE
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add TCP option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add option to set reserved EDNS flags
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse EDNS version from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add conformance tests for RFC 8906
  conformance/packages/conformance-tests/src/name_server.rs
  conformance/packages/conformance-tests/src/name_server/rfc8906.rs
  conformance/packages/conformance-tests/src/name_server/rfc8906/basic.rs
  conformance/packages/conformance-tests/src/name_server/rfc8906/extended.rs
  conformance/packages/conformance-tests/src/resolver/dns.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906/basic.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906/extended.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse "MBZ" from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: detect if reserved EDNS flags were set
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add support for unknown query types
  conformance/packages/dns-test/src/client.rs
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add Z flag option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add option to set UDP buffer size
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add setting to ignore UDP truncation
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add BADVERS return code
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add opcode and header-only dig options
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: allow parsing unknown opcodes
  conformance/packages/conformance-tests/src/name_server/rfc8906/basic.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906/basic.rs
  crates/proto/src/op/header.rs
  crates/proto/src/op/op_code.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

conformance: add a variant of RFC 8906 8.1.4 test
  conformance/packages/conformance-tests/src/name_server/rfc8906/basic.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906/basic.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: allow hickory in DNS_TEST_PEER
  conformance/packages/dns-test/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: allow hickory in DNS_TEST_PEER
  conformance/packages/dns-test/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: enable unbound control interface
  conformance/packages/dns-test/src/templates/nsd.conf.jinja
  conformance/packages/dns-test/src/templates/unbound.conf.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

server: remove unnecessary allow attribute
  crates/server/src/store/forwarder/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: fix incorrect comments
  crates/proto/src/rr/rdata/caa.rs
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

conformance: enable unbound control interface
  conformance/packages/dns-test/src/templates/nsd.conf.jinja
  conformance/packages/dns-test/src/templates/unbound.conf.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: refactor NSEC3 hashing into a loop
  bin/tests/integration/authority_battery/dnssec.rs
  crates/proto/src/dnssec/nsec3.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: remove unnecessary allow attribute
  crates/server/src/store/forwarder/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: fix incorrect comments
  crates/proto/src/rr/rdata/caa.rs
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

conformance: add a variant of RFC 8906 8.1.4 test
  conformance/packages/conformance-tests/src/name_server/rfc8906/basic.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906/basic.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: allow parsing unknown opcodes
  conformance/packages/conformance-tests/src/name_server/rfc8906/basic.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906/basic.rs
  crates/proto/src/op/header.rs
  crates/proto/src/op/op_code.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

resolver: never use truncated UDP response
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035/truncation.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
