Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

bump MSRV to 1.71.1
  Cargo.toml
  README.md
  bin/README.md
  crates/async-std-resolver/README.md
  crates/client/README.md
  crates/proto/README.md
  crates/recursor/README.md
  crates/resolver/README.md
  crates/server/README.md
  fuzz/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Add timeouts to some flaky tests
  crates/proto/src/tests/udp.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

chore: specify 1.0.3 version of idna in Cargo.toml
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove PartialEq/Eq derives from ResolverConfig
  crates/resolver/src/config.rs
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove obsolete total_cmp() impl
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: require provided order where necessary
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

resolver: sort connections by query RTT directly
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove PartialOrd/Ord impls for NameServer
  crates/resolver/src/name_server/name_server.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialOrd/Ord impls for NameServerStats
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialEq/Eq impls for NameServerStats
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialEq/Eq impls for name server config types
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialEq/Eq impls for name server config types
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialEq/Eq impls for NameServerStats
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove PartialEq/Eq derives from ResolverConfig
  crates/resolver/src/config.rs
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove obsolete total_cmp() impl
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: sort connections by query RTT directly
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialEq/Eq impls for name server config types
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialEq/Eq impls for name server config types
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove PartialOrd/Ord impls for NameServer
  crates/resolver/src/name_server/name_server.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: drop PartialOrd/Ord impls for NameServerStats
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: require provided order where necessary
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

resolver: remove disabled mDNS support
  crates/resolver/Cargo.toml
  crates/resolver/README.md
  crates/resolver/src/caching_client.rs
  crates/resolver/src/config.rs
  crates/resolver/src/dns_sd.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/mod.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/mdns_tests.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Remove disabled code for HMAC truncation
  crates/proto/src/rr/dnssec/tsig.rs
Owners: @bluejekyll, @djc, @marcus0x62

Bring back optional backtrace support
  Cargo.lock
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

server: remove unimplemented support for HTTPS with OpenSSL
  crates/server/src/server/server_future.rs
Owners: @bluejekyll, @djc, @marcus0x62

async-std-resolver: remove disabled tests for DNSSEC support
  crates/async-std-resolver/src/tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Allow nightly cfg guard (used for benchmarks)
  Cargo.toml
  bin/Cargo.toml
  crates/async-std-resolver/Cargo.toml
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

ci: update MSRV in github action too
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

Move lower_name_benches to proto crate
  crates/proto/benches/lower_name_benches.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Fix up certificate generation scripts
  justfile
  scripts/gen_certs.sh
  tests/test-data/test_configs/sec/gen-keys.sh
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Bump MSRV to 1.71 for rustls 0.23.18
  .github/workflows/test.yml
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Regenerate test certificates
  tests/test-data/ca.der
  tests/test-data/ca.key
  tests/test-data/ca.pem
  tests/test-data/ca.pubkey
  tests/test-data/cert-key.pk8
  tests/test-data/cert.csr
  tests/test-data/cert.key
  tests/test-data/cert.p12
  tests/test-data/cert.pem
  tests/test-data/test_configs/sec/example.cert
  tests/test-data/test_configs/sec/example.cert.pem
  tests/test-data/test_configs/sec/example.key
  tests/test-data/test_configs/sec/example.key.pem
  tests/test-data/test_configs/sec/example.p12
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix typo
  scripts/gen_certs.sh
Owners: @bluejekyll, @djc, @marcus0x62

fix: update ip of `example.com`
  bin/tests/named_tests.rs
  crates/async-std-resolver/README.md
  crates/async-std-resolver/src/lib.rs
  crates/client/README.md
  crates/client/src/client/async_client.rs
  crates/client/src/lib.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/README.md
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/resolver.rs
  crates/resolver/src/tls/mod.rs
  crates/server/src/authority/message_response.rs
  crates/server/tests/forwarder.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/client_future_tests.rs
  tests/integration-tests/tests/client_tests.rs
  tests/integration-tests/tests/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/lookup_tests.rs
  tests/integration-tests/tests/server_future_tests.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
  util/README.md
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

fix: update ip of `example.com`
  README.md
  crates/proto/src/op/message.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove broken mtls code
  bin/Cargo.toml
  crates/proto/Cargo.toml
  crates/proto/src/native_tls/tests.rs
  crates/proto/src/native_tls/tls_client_stream.rs
  crates/proto/src/native_tls/tls_stream.rs
  crates/proto/src/openssl/tls_client_stream.rs
  crates/proto/src/openssl/tls_stream.rs
  crates/proto/src/rustls/tests.rs
  crates/proto/tests/openssl_tests.rs
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

bump idna to 1.0
  Cargo.lock
  Cargo.toml
  crates/proto/src/rr/domain/label.rs
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade h3 and h3-quinn to avoid instant
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Update idna to 1.0.0
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62
