Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

fix calculate_key_tag for odd-sized keys
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Clippy: remove unnecessary borrows
  bin/tests/server_harness/mod.rs
  tests/compatibility-tests/src/bind.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

fix clippy warnings
  conformance/packages/dns-test/src/container.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

fix semantic merge conflict
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure/deprecated_algorithm.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

implement key tag calculation for RSAMD5
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: use push_label API
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

rename com_ns variables
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_3/section_3_1/section_3_1_4.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

remove old references to `nameservers.com.` from comments
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_4/section_4_5.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

rename nameservers_ns variables
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add environment variable to skip `docker build`
  conformance/README.md
  conformance/packages/dns-test/src/container.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Improve assertion error message
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/ede.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Keep seconds in range when corrupting expiration
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/ede.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

remove old references to `nameservers.com.` from comments
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_4/section_4_5.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

rename nameservers_ns variables
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: use push_label API
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

rename com_ns variables
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_3/section_3_1/section_3_1_4.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add environment variable to skip `docker build`
  conformance/README.md
  conformance/packages/dns-test/src/container.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Improve assertion error message
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/ede.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Keep seconds in range when corrupting expiration
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/ede.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Escape dots inside IDNA labels
  crates/proto/src/rr/domain/label.rs
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

cleanup annotations, enums, position; try_from
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/serialize/txt/rdata_parsers/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

formating
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix tests, clippy
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/serialize/txt/rdata_parsers/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix clippy
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

client: drop partial re-exports of proto contents
  bin/benches/comparison_benches.rs
  bin/src/hickory-dns.rs
  bin/tests/named_test_rsa_dnssec.rs
  bin/tests/named_tests.rs
  bin/tests/server_harness/mod.rs
  bin/tests/server_harness/mut_message_client.rs
  crates/client/src/client/async_client.rs
  crates/client/src/client/client.rs
  crates/client/src/client/client_connection.rs
  crates/client/src/client/memoize_client_handle.rs
  crates/client/src/h2_client_connection.rs
  crates/client/src/lib.rs
  crates/client/src/multicast/mod.rs
  crates/client/src/op/mod.rs
  crates/client/src/rr/mod.rs
  crates/client/src/rr/zone.rs
  crates/client/src/serialize/binary/mod.rs
  crates/client/src/serialize/mod.rs
  crates/client/src/tcp/mod.rs
  crates/client/src/udp/mod.rs
  tests/compatibility-tests/tests/sig0_tests.rs
  tests/compatibility-tests/tests/tsig_tests.rs
  tests/compatibility-tests/tests/zone_transfer.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/client_future_tests.rs
  tests/integration-tests/tests/client_tests.rs
  tests/integration-tests/tests/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
  tests/integration-tests/tests/server_future_tests.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
  util/src/bin/dns.rs
  util/src/bin/recurse.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

server: avoid ResolveError on paths that don't depend on the resolver
  crates/server/src/authority/authority.rs
  crates/server/src/authority/error.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: enable serde in -proto
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

bin: clean up unnecessary feature forwarding
  bin/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Remove deprecated tls features
  bin/Cargo.toml
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

server: use weak feature dependencies for resolver
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

client: drop partial re-exports of proto contents
  bin/benches/comparison_benches.rs
  bin/src/hickory-dns.rs
  bin/tests/named_test_rsa_dnssec.rs
  bin/tests/named_tests.rs
  bin/tests/server_harness/mod.rs
  bin/tests/server_harness/mut_message_client.rs
  crates/client/src/client/async_client.rs
  crates/client/src/client/client.rs
  crates/client/src/client/client_connection.rs
  crates/client/src/client/memoize_client_handle.rs
  crates/client/src/h2_client_connection.rs
  crates/client/src/lib.rs
  crates/client/src/multicast/mod.rs
  crates/client/src/op/mod.rs
  crates/client/src/rr/mod.rs
  crates/client/src/rr/zone.rs
  crates/client/src/serialize/binary/mod.rs
  crates/client/src/serialize/mod.rs
  crates/client/src/tcp/mod.rs
  crates/client/src/udp/mod.rs
  tests/compatibility-tests/tests/sig0_tests.rs
  tests/compatibility-tests/tests/tsig_tests.rs
  tests/compatibility-tests/tests/zone_transfer.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/client_future_tests.rs
  tests/integration-tests/tests/client_tests.rs
  tests/integration-tests/tests/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
  tests/integration-tests/tests/server_future_tests.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
  util/src/bin/dns.rs
  util/src/bin/recurse.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

bin: clean up unnecessary feature forwarding
  bin/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

server: avoid ResolveError on paths that don't depend on the resolver
  crates/server/src/authority/authority.rs
  crates/server/src/authority/error.rs
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove deprecated tls features
  bin/Cargo.toml
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

server: enable serde in -proto
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

server: use weak feature dependencies for resolver
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Stop using pseudo-TTYs with Docker
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/tshark.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

CAA: Preserve reserved flags
  crates/proto/src/rr/rdata/caa.rs
  crates/proto/src/serialize/txt/rdata_parsers/caa.rs
Owners: @bluejekyll, @djc, @marcus0x62
