Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

Update rustls to fix RUSTSEC-2024-0336
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Update openssl to fix RUSTSEC-2024-0357
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Ignore RUSTSEC-2024-0384
  .cargo/audit.toml
Owners: @bluejekyll, @djc, @marcus0x62

Cargo audit warnings
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Regenerate test-data certificates
  scripts/gen_certs.sh
  tests/test-data/ca.der
  tests/test-data/ca.key
  tests/test-data/ca.pem
  tests/test-data/ca.pubkey
  tests/test-data/cert.csr
  tests/test-data/cert.key
  tests/test-data/cert.p12
  tests/test-data/cert.pem
  tests/test-data/test_configs/sec/example.cert
  tests/test-data/test_configs/sec/example.cert.pem
  tests/test-data/test_configs/sec/example.key
  tests/test-data/test_configs/sec/example.key.pem
  tests/test-data/test_configs/sec/example.p12
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Update ahash to fix compilation of coverage CI/just target
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Allow API consumer to use OS port assignment for UDP sockets
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/connection_provider.rs
Owners: @bluejekyll, @djc, @marcus0x62

Allow API consumer to use OS port assignment for UDP sockets
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/connection_provider.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix selection of PEM versus PKCS #8 key file
  conformance/packages/dns-test/src/implementation.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Set explicit DNSSEC feature in conformance-ignored
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Set explicit DNSSEC feature in conformance-ignored
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Fix selection of PEM versus PKCS #8 key file
  conformance/packages/dns-test/src/implementation.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: upgrade minijinja to 2
  conformance/Cargo.lock
  conformance/packages/dns-test/Cargo.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: upgrade base64 to 0.22
  conformance/Cargo.lock
  conformance/packages/conformance-tests/Cargo.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: update semver-compatible dependencies
  conformance/Cargo.lock
Owners: @japaric, @justahero, @listochkin, @pvdrz

replace if-else with match
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: detect if OPT is present in dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add EDNS CLIENT-SUBNET option for dig
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add BADVERS return code
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add EDNS EXPIRE option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add EDNS NSID option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse truncation flag from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add opcode and header-only dig options
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add setting to send an extra EDNS option
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse "MBZ" from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse opcode from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: allow disabling EDNS version negotiation
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add conformance tests for RFC 8906
  conformance/packages/conformance-tests/src/name_server.rs
  conformance/packages/conformance-tests/src/name_server/rfc8906.rs
  conformance/packages/conformance-tests/src/name_server/rfc8906/basic.rs
  conformance/packages/conformance-tests/src/name_server/rfc8906/extended.rs
  conformance/packages/conformance-tests/src/resolver/dns.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906/basic.rs
  conformance/packages/conformance-tests/src/resolver/dns/rfc8906/extended.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add NOTIMP return code
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add setting to ignore UDP truncation
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add support for unknown query types
  conformance/packages/dns-test/src/client.rs
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add Z flag option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add option to set UDP buffer size
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add dig setting to disable COOKIE
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add option to set reserved EDNS flags
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add TCP option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: detect if reserved EDNS flags were set
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse EDNS version from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add option to set EDNS version
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse DO flag from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz
