Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Move RuntimeProvider into proto
  crates/async-std-resolver/src/runtime.rs
  crates/client/src/lib.rs
  crates/proto/src/runtime.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/recursor/src/recursor_pool.rs
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/mod.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/src/mock_client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Move non-response-building code (catalog search, all LookupControlFlow logic) from build_response to the lookup function.
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

Eliminate unnecessary uses of LookupControlFlow in build_response and related functions
  crates/server/src/authority/authority.rs
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

Rename send_authoritative_response and send_forwarded_response to build_authoritative_response and build_forwarded_response to more accurately indicate the purpose of these functions.
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: make sure to always poll future
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove quad9 tests
  crates/async-std-resolver/src/tests.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/tls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Enable Windows tests
  crates/resolver/src/tls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Enable Windows tests
  crates/resolver/src/tls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove quad9 tests
  crates/async-std-resolver/src/tests.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/tls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: invert branch to linearize function
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Move RuntimeProvider into proto
  crates/async-std-resolver/src/runtime.rs
  crates/client/src/lib.rs
  crates/proto/src/runtime.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/recursor/src/recursor_pool.rs
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/mod.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/src/mock_client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Use std futures where possible
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/lib.rs
  crates/proto/src/multicast/mdns_client_stream.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/udp/udp_stream.rs
  crates/proto/src/xfer/dns_exchange.rs
  crates/proto/src/xfer/mod.rs
  crates/proto/src/xfer/retry_dns_handle.rs
  crates/resolver/examples/global_resolver.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/lookup_ip.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  crates/resolver/src/tls/dns_over_rustls.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  tests/integration-tests/tests/integration/retry_dns_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: use RuntimeProvider to build UDP stream
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_tests.rs
  crates/client/src/udp/udp_client_connection.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/server/src/server/server_future.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: make sure to always poll future
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Rename send_authoritative_response and send_forwarded_response to build_authoritative_response and build_forwarded_response to more accurately indicate the purpose of these functions.
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

Move non-response-building code (catalog search, all LookupControlFlow logic) from build_response to the lookup function.
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

Eliminate unnecessary uses of LookupControlFlow in build_response and related functions
  crates/server/src/authority/authority.rs
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

add hickory-server to the info and debug log line configs
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

add hickory-server to the info and debug log line configs
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: avoid wrapping Arc in Box
  bin/src/hickory-dns.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: extend RuntimeProvider::connect_tcp() with bind_addr argument
  crates/async-std-resolver/src/runtime.rs
  crates/proto/src/runtime.rs
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/name_server/connection_provider.rs
  tests/integration-tests/src/mock_client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: rebuild Connect impl on top of RuntimeProvider
  crates/async-std-resolver/src/net.rs
  crates/async-std-resolver/src/runtime.rs
  crates/proto/src/runtime.rs
  crates/proto/src/tcp/mod.rs
  crates/proto/src/tcp/tcp_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

async-std-resolver: use unqualified types
  crates/async-std-resolver/src/net.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: time out TCP connects by default
  crates/async-std-resolver/src/net.rs
  crates/async-std-resolver/src/runtime.rs
  crates/proto/src/runtime.rs
  crates/proto/src/tcp/tcp_client_stream.rs
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/name_server/connection_provider.rs
  tests/integration-tests/src/mock_client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: use RuntimeProvider to connect TCP
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_rustls_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  bin/tests/integration/named_tests.rs
  crates/async-std-resolver/src/net.rs
  crates/client/src/client/async_client.rs
  crates/client/src/client/client.rs
  crates/client/src/h2_client_connection.rs
  crates/client/src/lib.rs
  crates/client/src/tcp/tcp_client_connection.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/native_tls/tests.rs
  crates/proto/src/native_tls/tls_client_stream.rs
  crates/proto/src/native_tls/tls_stream.rs
  crates/proto/src/openssl/tls_client_stream.rs
  crates/proto/src/openssl/tls_stream.rs
  crates/proto/src/runtime.rs
  crates/proto/src/rustls/tests.rs
  crates/proto/src/rustls/tls_client_stream.rs
  crates/proto/src/rustls/tls_stream.rs
  crates/proto/src/tcp/mod.rs
  crates/proto/src/tcp/tcp_client_stream.rs
  crates/proto/src/tcp/tcp_stream.rs
  crates/proto/src/tests/tcp.rs
  crates/proto/tests/integration/openssl_tests.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
  tests/integration-tests/src/tls_client_connection.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

server: avoid wrapping Arc in Box
  bin/src/hickory-dns.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

dns-test: allow using NSEC instead of NSEC3
  conformance/packages/dns-test/src/zone_file/mod.rs
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: unsigned leaf zone; other zones use NSEC
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse NSEC
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: allow using NSEC instead of NSEC3
  conformance/packages/dns-test/src/zone_file/mod.rs
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: unsigned leaf zone; other zones use NSEC
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse NSEC
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Initial implementation of internet traffic replay
  Cargo.lock
  Cargo.toml
  crates/proto/src/rr/rdata/sshfp.rs
  tests/test-support/Cargo.toml
  tests/test-support/src/lib.rs
  tests/test-support/src/recorder/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add support for TCP
  tests/test-support/src/recorder/mod.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Use localhost in UDP timeout tests
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix up certificate generation scripts
  justfile
  scripts/gen_certs.sh
  tests/test-data/test_configs/sec/gen-keys.sh
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Regenerate test certificates
  tests/test-data/ca.der
  tests/test-data/ca.key
  tests/test-data/ca.pem
  tests/test-data/ca.pubkey
  tests/test-data/cert-key.pk8
  tests/test-data/cert.csr
  tests/test-data/cert.key
  tests/test-data/cert.p12
  tests/test-data/cert.pem
  tests/test-data/test_configs/sec/example.cert
  tests/test-data/test_configs/sec/example.cert.pem
  tests/test-data/test_configs/sec/example.key
  tests/test-data/test_configs/sec/example.key.pem
  tests/test-data/test_configs/sec/example.p12
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix typo
  scripts/gen_certs.sh
Owners: @bluejekyll, @djc, @marcus0x62

Fix typo
  scripts/gen_certs.sh
Owners: @bluejekyll, @djc, @marcus0x62

Fix up certificate generation scripts
  justfile
  scripts/gen_certs.sh
  tests/test-data/test_configs/sec/gen-keys.sh
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
