Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

Move comments to ignore reasons
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Move comments to ignore reasons
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Clean up native-tls tests
  crates/proto/src/native_tls/tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Re-enable forwarder test
  bin/tests/integration/forwarder.rs
Owners: @bluejekyll, @djc, @marcus0x62

Log server config on connection failure.
  crates/resolver/src/name_server/name_server.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: minor cleanup
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/rdata/name.rs
  crates/proto/src/rr/rdata/svcb.rs
  crates/proto/src/serialize/binary/encoder.rs
  crates/proto/src/serialize/txt/rdata_parsers/svcb.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: account for fqdn in PartialEq impl
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/serialize/txt/parse_rdata.rs
  crates/proto/src/serialize/txt/rdata_parsers/svcb.rs
Owners: @bluejekyll, @djc, @marcus0x62

account for fqdn in Name::cmp_with_f
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

additional trait tests for name and lowername
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/lower_name.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove redundant Resolver constructors
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

Make Query::new() return root label by default
  crates/proto/src/op/query.rs
Owners: @bluejekyll, @djc, @marcus0x62

make bin encoder and decoder agree
  bin/tests/integration/authority_battery/basic.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/sqlite_tests.rs
  bin/tests/integration/txt_tests.rs
  crates/proto/src/dnssec/rdata/nsec.rs
  crates/proto/src/dnssec/rdata/sig.rs
  crates/proto/src/dnssec/tsig.rs
  crates/proto/src/op/query.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/rdata/mx.rs
  crates/proto/src/rr/rdata/naptr.rs
  crates/proto/src/rr/rdata/soa.rs
  crates/proto/src/rr/rdata/srv.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/resource.rs
  crates/proto/src/serialize/binary/encoder.rs
  crates/proto/src/tests/udp.rs
  crates/proto/src/xfer/dns_handle.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/resolver.rs
  crates/resolver/src/system_conf/unix.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

lazy_eq methods for Name
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

unit test for resolver build_names
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove redundant Resolver constructors
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: split key_format module
  crates/proto/src/dnssec/key_format.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/ring.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: explicitly pick a signing backend in DNSSEC code
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/signer.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: add support for ring-based RSA signing keys
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/ring.rs
  crates/proto/tests/test-data/rsa-2048-private-key-1.pk8
  crates/proto/tests/test-data/rsa-2048-private-key-2.pk8
Owners: @bluejekyll, @djc, @marcus0x62

Switch integration tests to use ring for DNSSEC
  Cargo.lock
  tests/compatibility-tests/Cargo.toml
  tests/compatibility-tests/tests/conf/Kupdate.example.com.+008+56935.pk8
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/Cargo.toml
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/rsa-2048.pk8
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Avoid mandatory openssl dependencies
  crates/proto/Cargo.toml
  crates/proto/src/rustls/mod.rs
  crates/proto/src/rustls/tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove unnecessary allow()
  crates/proto/src/rustls/tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: enable logging in SIG0 compatibility tests
  Cargo.lock
  justfile
  tests/compatibility-tests/Cargo.toml
  tests/compatibility-tests/tests/integration/sig0_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

tests: fix paths to config files
  tests/compatibility-tests/tests/conf/bind-example.conf
Owners: @japaric, @justahero, @listochkin, @pvdrz

bin: fix Windows build failure
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

ci: re-enable Windows
  .github/workflows/test.yml
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Avoid mandatory openssl dependencies
  crates/proto/Cargo.toml
  crates/proto/src/rustls/mod.rs
  crates/proto/src/rustls/tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

bin: fix Windows build failure
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: fix paths to config files
  tests/compatibility-tests/tests/conf/bind-example.conf
Owners: @japaric, @justahero, @listochkin, @pvdrz

Switch integration tests to use ring for DNSSEC
  Cargo.lock
  tests/compatibility-tests/Cargo.toml
  tests/compatibility-tests/tests/conf/Kupdate.example.com.+008+56935.pk8
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/integration-tests/Cargo.toml
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/rsa-2048.pk8
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: split key_format module
  crates/proto/src/dnssec/key_format.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/ring.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: add support for ring-based RSA signing keys
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/ring.rs
  crates/proto/tests/test-data/rsa-2048-private-key-1.pk8
  crates/proto/tests/test-data/rsa-2048-private-key-2.pk8
Owners: @bluejekyll, @djc, @marcus0x62

proto: explicitly pick a signing backend in DNSSEC code
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/signer.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: enable logging in SIG0 compatibility tests
  Cargo.lock
  justfile
  tests/compatibility-tests/Cargo.toml
  tests/compatibility-tests/tests/integration/sig0_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

ci: re-enable Windows
  .github/workflows/test.yml
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Remove unnecessary allow()
  crates/proto/src/rustls/tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add conformance test to simulate packet loss
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/packet_loss.py
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/packet_loss.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add conformance test to simulate packet loss
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/packet_loss.py
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/packet_loss.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

resolver: remove PartialEq/Eq derives from ResolverConfig
  crates/resolver/src/config.rs
  crates/resolver/src/system_conf/unix.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove obsolete total_cmp() impl
  crates/resolver/src/name_server/name_server_stats.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: require provided order where necessary
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz
