Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

Update time from 0.3.29 to 0.3.37
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Bump version to 0.24.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Regenerate test certificates
  tests/test-data/ca.der
  tests/test-data/ca.key
  tests/test-data/ca.pem
  tests/test-data/ca.pubkey
  tests/test-data/cert-key.pk8
  tests/test-data/cert.csr
  tests/test-data/cert.key
  tests/test-data/cert.p12
  tests/test-data/cert.pem
  tests/test-data/test_configs/sec/example.cert
  tests/test-data/test_configs/sec/example.cert.pem
  tests/test-data/test_configs/sec/example.key
  tests/test-data/test_configs/sec/example.key.pem
  tests/test-data/test_configs/sec/example.p12
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix up certificate generation scripts
  justfile
  scripts/gen_certs.sh
  tests/test-data/test_configs/sec/gen-keys.sh
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Bump MSRV to 1.71 for rustls 0.23.18
  .github/workflows/test.yml
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

server: remove unimplemented support for HTTPS with OpenSSL
  crates/server/src/server/server_future.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove disabled mDNS support
  crates/resolver/Cargo.toml
  crates/resolver/README.md
  crates/resolver/src/caching_client.rs
  crates/resolver/src/config.rs
  crates/resolver/src/dns_sd.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/mod.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/mdns_tests.rs
  tests/integration-tests/tests/name_server_pool_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Upgrade h3 and h3-quinn to avoid instant
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Allow nightly cfg guard (used for benchmarks)
  Cargo.toml
  bin/Cargo.toml
  crates/async-std-resolver/Cargo.toml
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

fix: update ip of `example.com`
  README.md
  crates/proto/src/op/message.rs
Owners: @bluejekyll, @djc, @marcus0x62

async-std-resolver: remove disabled tests for DNSSEC support
  crates/async-std-resolver/src/tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

bump idna to 1.0
  Cargo.lock
  Cargo.toml
  crates/proto/src/rr/domain/label.rs
Owners: @bluejekyll, @djc, @marcus0x62

Bring back optional backtrace support
  Cargo.lock
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Move lower_name_benches to proto crate
  crates/proto/benches/lower_name_benches.rs
Owners: @bluejekyll, @djc, @marcus0x62

Bump version to 0.24.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

fix: update ip of `example.com`
  bin/tests/named_tests.rs
  crates/async-std-resolver/README.md
  crates/async-std-resolver/src/lib.rs
  crates/client/README.md
  crates/client/src/client/async_client.rs
  crates/client/src/lib.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/README.md
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/resolver.rs
  crates/resolver/src/tls/mod.rs
  crates/server/src/authority/message_response.rs
  crates/server/tests/forwarder.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/client_future_tests.rs
  tests/integration-tests/tests/client_tests.rs
  tests/integration-tests/tests/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/lookup_tests.rs
  tests/integration-tests/tests/server_future_tests.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
  util/README.md
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Remove broken mtls code
  bin/Cargo.toml
  crates/proto/Cargo.toml
  crates/proto/src/native_tls/tests.rs
  crates/proto/src/native_tls/tls_client_stream.rs
  crates/proto/src/native_tls/tls_stream.rs
  crates/proto/src/openssl/tls_client_stream.rs
  crates/proto/src/openssl/tls_stream.rs
  crates/proto/src/rustls/tests.rs
  crates/proto/tests/openssl_tests.rs
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Remove disabled code for HMAC truncation
  crates/proto/src/rr/dnssec/tsig.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix typo
  scripts/gen_certs.sh
Owners: @bluejekyll, @djc, @marcus0x62

proto: minor cleanup
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/rdata/name.rs
  crates/proto/src/rr/rdata/svcb.rs
  crates/proto/src/serialize/binary/encoder.rs
  crates/proto/src/serialize/txt/rdata_parsers/svcb.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix FQDN-vs-relative issues in Name implementation
  bin/tests/integration/authority_battery/basic.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/sqlite_tests.rs
  bin/tests/integration/txt_tests.rs
  crates/proto/src/dnssec/rdata/nsec.rs
  crates/proto/src/dnssec/rdata/sig.rs
  crates/proto/src/dnssec/tsig.rs
  crates/proto/src/op/query.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/rdata/mx.rs
  crates/proto/src/rr/rdata/naptr.rs
  crates/proto/src/rr/rdata/soa.rs
  crates/proto/src/rr/rdata/srv.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/resource.rs
  crates/proto/src/serialize/binary/encoder.rs
  crates/proto/src/serialize/txt/parse_rdata.rs
  crates/proto/src/serialize/txt/rdata_parsers/svcb.rs
  crates/proto/src/tests/udp.rs
  crates/proto/src/xfer/dns_handle.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/resolver.rs
  crates/resolver/src/system_conf/unix.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

additional trait tests for name and lowername
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/lower_name.rs
Owners: @bluejekyll, @djc, @marcus0x62

eq_ignore_root and eq_ignore_root_case methods for Name
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

unit test for resolver build_names
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

unit test for resolver build_names
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

additional trait tests for name and lowername
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/lower_name.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: minor cleanup
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/rdata/name.rs
  crates/proto/src/rr/rdata/svcb.rs
  crates/proto/src/serialize/binary/encoder.rs
  crates/proto/src/serialize/txt/rdata_parsers/svcb.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix FQDN-vs-relative issues in Name implementation
  bin/tests/integration/authority_battery/basic.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/sqlite_tests.rs
  bin/tests/integration/txt_tests.rs
  crates/proto/src/dnssec/rdata/nsec.rs
  crates/proto/src/dnssec/rdata/sig.rs
  crates/proto/src/dnssec/tsig.rs
  crates/proto/src/op/query.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/rdata/mx.rs
  crates/proto/src/rr/rdata/naptr.rs
  crates/proto/src/rr/rdata/soa.rs
  crates/proto/src/rr/rdata/srv.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/resource.rs
  crates/proto/src/serialize/binary/encoder.rs
  crates/proto/src/serialize/txt/parse_rdata.rs
  crates/proto/src/serialize/txt/rdata_parsers/svcb.rs
  crates/proto/src/tests/udp.rs
  crates/proto/src/xfer/dns_handle.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/resolver.rs
  crates/resolver/src/system_conf/unix.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

eq_ignore_root and eq_ignore_root_case methods for Name
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

chore: fix typo
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

ci: avoid hardcoded Rust versions in CI
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

Allow API consumer to use OS port assignment for UDP sockets
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/connection_provider.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix test with new(er?) google IP address
  bin/tests/named_tests.rs
  crates/async-std-resolver/src/lib.rs
  crates/client/src/client/async_client.rs
  crates/client/src/lib.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/serialize/binary/decoder.rs
  crates/proto/src/xfer/dns_multiplexer.rs
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/resolver.rs
  crates/resolver/src/tls/mod.rs
  crates/server/src/authority/message_response.rs
  crates/server/tests/forwarder.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/client_future_tests.rs
  tests/integration-tests/tests/client_tests.rs
  tests/integration-tests/tests/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/lookup_tests.rs
  tests/integration-tests/tests/server_future_tests.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add rust-toolchain with 1.77.2 version in it
  rust-toolchain
Owners: @bluejekyll, @djc, @marcus0x62

Update h2 to fix RUSTSEC-2024-0003 and RUSTSEC-2024-0332
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Update mio to fix RUSTSEC-2024-0019
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Update url to fix RUSTSEC-2024-0421
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Cargo clippy fixes applied
  crates/proto/src/rr/dnssec/signer.rs
  crates/proto/src/rr/domain/label.rs
  crates/proto/src/rr/rr_set.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  crates/proto/src/xfer/mod.rs
  crates/resolver/src/dns_lru.rs
  crates/server/src/authority/message_request.rs
  crates/server/src/store/sqlite/authority.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Update zerocopy to fix RUSTSEC-2023-0074
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62
