Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Regenerate test certificates
  tests/test-data/ca.der
  tests/test-data/ca.key
  tests/test-data/ca.pem
  tests/test-data/ca.pubkey
  tests/test-data/cert-key.pk8
  tests/test-data/cert.csr
  tests/test-data/cert.key
  tests/test-data/cert.p12
  tests/test-data/cert.pem
  tests/test-data/test_configs/sec/example.cert
  tests/test-data/test_configs/sec/example.cert.pem
  tests/test-data/test_configs/sec/example.key
  tests/test-data/test_configs/sec/example.key.pem
  tests/test-data/test_configs/sec/example.p12
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: change RecordSet::new() to take owned Name
  crates/proto/src/rr/rr_set.rs
  crates/proto/src/serialize/txt/zone.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: extend RuntimeProvider::connect_tcp() with bind_addr argument
  crates/async-std-resolver/src/runtime.rs
  crates/proto/src/runtime.rs
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/name_server/connection_provider.rs
  tests/integration-tests/src/mock_client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

async-std-resolver: use unqualified types
  crates/async-std-resolver/src/net.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: rebuild Connect impl on top of RuntimeProvider
  crates/async-std-resolver/src/net.rs
  crates/async-std-resolver/src/runtime.rs
  crates/proto/src/runtime.rs
  crates/proto/src/tcp/mod.rs
  crates/proto/src/tcp/tcp_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: use RuntimeProvider to connect TCP
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_rustls_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  bin/tests/integration/named_tests.rs
  crates/async-std-resolver/src/net.rs
  crates/client/src/client/async_client.rs
  crates/client/src/client/client.rs
  crates/client/src/h2_client_connection.rs
  crates/client/src/lib.rs
  crates/client/src/tcp/tcp_client_connection.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/native_tls/tests.rs
  crates/proto/src/native_tls/tls_client_stream.rs
  crates/proto/src/native_tls/tls_stream.rs
  crates/proto/src/openssl/tls_client_stream.rs
  crates/proto/src/openssl/tls_stream.rs
  crates/proto/src/runtime.rs
  crates/proto/src/rustls/tests.rs
  crates/proto/src/rustls/tls_client_stream.rs
  crates/proto/src/rustls/tls_stream.rs
  crates/proto/src/tcp/mod.rs
  crates/proto/src/tcp/tcp_client_stream.rs
  crates/proto/src/tcp/tcp_stream.rs
  crates/proto/src/tests/tcp.rs
  crates/proto/tests/integration/openssl_tests.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
  tests/integration-tests/src/tls_client_connection.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: time out TCP connects by default
  crates/async-std-resolver/src/net.rs
  crates/async-std-resolver/src/runtime.rs
  crates/proto/src/runtime.rs
  crates/proto/src/tcp/tcp_client_stream.rs
  crates/resolver/examples/custom_provider.rs
  crates/resolver/src/name_server/connection_provider.rs
  tests/integration-tests/src/mock_client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: change RecordSet::new() to take owned Name
  crates/proto/src/rr/rr_set.rs
  crates/proto/src/serialize/txt/zone.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

fix compilation failed
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix compilation failed
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

Allow changing URI paths for DNS-over-HTTPS
  bin/src/hickory-dns.rs
  bin/tests/integration/named_https_tests.rs
  crates/client/src/h2_client_connection.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h2/h2_server.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/http/mod.rs
  crates/proto/src/http/request.rs
  crates/resolver/src/config.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/system_conf/unix.rs
  crates/resolver/src/system_conf/windows.rs
  crates/server/src/config/mod.rs
  crates/server/src/server/h2_handler.rs
  crates/server/src/server/server_future.rs
  crates/server/src/store/recursor/authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  util/src/bin/dns.rs
  util/src/bin/recurse.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fix client_config_tls12 test when native-certs is enabled
  crates/proto/src/h2/h2_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Don't treat resolve errors with SOA as forward errors
  crates/recursor/src/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unignore the `nxdomain` conformance test for recursors
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix client_config_tls12 test when native-certs is enabled
  crates/proto/src/h2/h2_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Allow changing URI paths for DNS-over-HTTPS
  bin/src/hickory-dns.rs
  bin/tests/integration/named_https_tests.rs
  crates/client/src/h2_client_connection.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h2/h2_server.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/http/mod.rs
  crates/proto/src/http/request.rs
  crates/resolver/src/config.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/system_conf/unix.rs
  crates/resolver/src/system_conf/windows.rs
  crates/server/src/config/mod.rs
  crates/server/src/server/h2_handler.rs
  crates/server/src/server/server_future.rs
  crates/server/src/store/recursor/authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  util/src/bin/dns.rs
  util/src/bin/recurse.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fork resolv-conf crate
  Cargo.lock
  Cargo.toml
  crates/resolv-conf/Cargo.toml
  crates/resolv-conf/LICENSE-APACHE
  crates/resolv-conf/LICENSE-MIT
  crates/resolv-conf/README.md
  crates/resolv-conf/examples/parse.rs
  crates/resolv-conf/src/config.rs
  crates/resolv-conf/src/grammar.rs
  crates/resolv-conf/src/ip.rs
  crates/resolv-conf/src/lib.rs
  crates/resolv-conf/tests/hosts
  crates/resolv-conf/tests/lib.rs
  crates/resolv-conf/tests/resolv.conf-linux
  crates/resolv-conf/tests/resolv.conf-macos
  crates/resolv-conf/tests/resolv.conf-openbsd
  crates/resolv-conf/tests/resolv.conf-simple
Owners: @bluejekyll, @djc, @marcus0x62

resolv-conf: align metadata with other crates
  Cargo.lock
  crates/resolv-conf/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Server and catalog changes to support chained authorities
  bin/src/hickory-dns.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/config/mod.rs
  crates/server/src/store/config.rs
  crates/server/src/store/mod.rs
  crates/server/tests/integration/config_tests.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

conformance: add NSEC & NSEC3 tests
  conformance/packages/conformance-tests/src/resolver.rs
  conformance/packages/conformance-tests/src/resolver/nsec.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: add NSEC & NSEC3 tests
  conformance/packages/conformance-tests/src/resolver.rs
  conformance/packages/conformance-tests/src/resolver/nsec.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Remove unnecessary Vecs in ForwardNSData; wrap in Arc
  crates/proto/src/error.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/caching_client.rs
Owners: @bluejekyll, @djc, @marcus0x62

Inline format arguments
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Chained authority
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

Tests for the chained authority
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/integration/chained_authority_tests.rs
  tests/integration-tests/tests/integration/main.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Tests for the chained authority
  tests/integration-tests/Cargo.toml
  tests/integration-tests/tests/integration/chained_authority_tests.rs
  tests/integration-tests/tests/integration/main.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Chained authority
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

Server and catalog changes to support chained authorities
  bin/src/hickory-dns.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/config/mod.rs
  crates/server/src/store/config.rs
  crates/server/src/store/mod.rs
  crates/server/tests/integration/config_tests.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Inline format arguments
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove unnecessary Vecs in ForwardNSData; wrap in Arc
  crates/proto/src/error.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/caching_client.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: fix inconsistent conditional in integration test
  crates/server/tests/integration/config_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: move NxProofKind out of config module
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/config/dnssec.rs
  crates/server/src/config/mod.rs
  crates/server/src/lib.rs
  crates/server/src/store/file/authority.rs
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/sqlite/authority.rs
  crates/server/tests/integration/in_memory.rs
  crates/server/tests/integration/store_file_tests.rs
  crates/server/tests/integration/store_sqlite_tests.rs
  crates/server/tests/integration/txt_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/chained_authority_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Move Protocol from resolver to proto
  crates/proto/src/xfer/mod.rs
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/system_conf/unix.rs
  crates/server/src/store/recursor/authority.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  util/src/bin/recurse.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

server: remove Protocol enum in favor of proto type
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_rustls_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  crates/proto/src/xfer/mod.rs
  crates/server/src/server/h2_handler.rs
  crates/server/src/server/h3_handler.rs
  crates/server/src/server/mod.rs
  crates/server/src/server/protocol.rs
  crates/server/src/server/quic_handler.rs
  crates/server/src/server/request_handler.rs
  crates/server/src/server/response_handler.rs
  crates/server/src/server/server_future.rs
  crates/server/tests/integration/authority_battery/basic.rs
  crates/server/tests/integration/authority_battery/dnssec.rs
  crates/server/tests/integration/authority_battery/dynamic_update.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/chained_authority_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Move server integration tests into bin crate
  Cargo.lock
  bin/Cargo.toml
  bin/tests/integration/authority_battery/basic.rs
  bin/tests/integration/authority_battery/dnssec.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  bin/tests/integration/authority_battery/mod.rs
  bin/tests/integration/config_tests.rs
  bin/tests/integration/forwarder.rs
  bin/tests/integration/in_memory.rs
  bin/tests/integration/main.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/sqlite_tests.rs
  bin/tests/integration/store_file_tests.rs
  bin/tests/integration/store_sqlite_tests.rs
  bin/tests/integration/timeout_stream_tests.rs
  bin/tests/integration/txt_tests.rs
  crates/server/tests/integration/main.rs
Owners: @bluejekyll, @djc, @marcus0x62

Move config from server to bin crate
  Cargo.lock
  bin/Cargo.toml
  bin/src/dnssec.rs
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/authority_battery/dnssec.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  bin/tests/integration/config_tests.rs
  crates/server/src/lib.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

bin: remove get_() prefixes from config getters
  bin/src/dnssec.rs
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/config_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

bin: derive Default for dnssec enums
  bin/src/dnssec.rs
Owners: @bluejekyll, @djc, @marcus0x62

Move Protocol from resolver to proto
  crates/proto/src/xfer/mod.rs
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/system_conf/unix.rs
  crates/server/src/store/recursor/authority.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  util/src/bin/recurse.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

bin: remove get_() prefixes from config getters
  bin/src/dnssec.rs
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/config_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
