Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

Bump once_cell to 1.20.2; remove minor-version pin from Cargo.toml
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Use custom serde visitor to fix store error messages
  bin/src/hickory-dns.rs
  bin/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

Propagate NX domain and no record found errors when converting from resolver error to recursorerror(forward).
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/nsec.rs
  crates/proto/src/error.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Docs: resolver no longer returns background future
  crates/async-std-resolver/src/lib.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

Docs: resolver no longer returns background future
  crates/async-std-resolver/src/lib.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: leverage simpler PEM reading API
  Cargo.lock
  Cargo.toml
  crates/proto/Cargo.toml
  crates/proto/src/rustls/tls_server.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: leverage simpler PEM reading API
  Cargo.lock
  Cargo.toml
  crates/proto/Cargo.toml
  crates/proto/src/rustls/tls_server.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix nsec/nsec3 truth table
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix nsec/nsec3 truth table
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Preserve authority records when translating between error types
  crates/proto/src/error.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/error.rs
  crates/server/src/authority/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

Preserve authority records in forwarded responses from the catalog
  crates/server/src/authority/auth_lookup.rs
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

Preserve authority records in the recursor DNSSEC dns handle
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62

Process error messages in the dnssec response handler
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Response code coverage tests
  tests/e2e-tests/src/recursor.rs
  tests/e2e-tests/src/recursor/basic.rs
  tests/e2e-tests/src/recursor/basic/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Existing test updates
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/nsec.rs
  tests/integration-tests/tests/integration/chained_authority_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Replace TryParseIp trait with IntoName::to_ip()
  crates/proto/src/rr/domain/mod.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/domain/try_parse_ip.rs
  crates/proto/src/rr/mod.rs
  crates/proto/src/rr/record_data.rs
  crates/resolver/examples/global_resolver.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/hosts.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

State that `hickory-server` supports NSEC3
  crates/server/README.md
Owners: @bluejekyll, @djc, @marcus0x62

State that `hickory-server` supports NSEC3
  crates/server/README.md
Owners: @bluejekyll, @djc, @marcus0x62

Update documentation of MAX_TTL
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

Correct comments/docs in dns_lru
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove nonexistent field from Debug impl
  crates/resolver/src/async_resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove duplicate line
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove unnecesary conditional compilation
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Correct documentation on Lookup types
  crates/resolver/src/lookup.rs
  crates/resolver/src/lookup_ip.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix typos
  crates/resolver/src/name_server/connection_provider.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove unnecesary conditional compilation
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove nonexistent field from Debug impl
  crates/resolver/src/async_resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

Correct comments/docs in dns_lru
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix typos
  crates/resolver/src/name_server/connection_provider.rs
Owners: @bluejekyll, @djc, @marcus0x62

Correct documentation on Lookup types
  crates/resolver/src/lookup.rs
  crates/resolver/src/lookup_ip.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update documentation of MAX_TTL
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove duplicate line
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

util: use async resolver for get-root-ksks
  util/src/bin/get-root-ksks.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: kill the (sync) Resolver
  crates/resolver/src/lib.rs
  crates/resolver/src/resolver.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove deprecated type alias
  crates/resolver/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: don't use extern crate for hickory_proto
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/config.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/hosts.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/lookup_ip.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/name_server/name_server_state.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/system_conf/unix.rs
  crates/resolver/src/system_conf/windows.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  crates/resolver/src/tls/dns_over_rustls.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: avoid extern crate
  crates/resolver/src/config.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/tls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: keep use statements together with source modules
  crates/resolver/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62
