Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

server: remove Protocol enum in favor of proto type
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_rustls_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  crates/proto/src/xfer/mod.rs
  crates/server/src/server/h2_handler.rs
  crates/server/src/server/h3_handler.rs
  crates/server/src/server/mod.rs
  crates/server/src/server/protocol.rs
  crates/server/src/server/quic_handler.rs
  crates/server/src/server/request_handler.rs
  crates/server/src/server/response_handler.rs
  crates/server/src/server/server_future.rs
  crates/server/tests/integration/authority_battery/basic.rs
  crates/server/tests/integration/authority_battery/dnssec.rs
  crates/server/tests/integration/authority_battery/dynamic_update.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/chained_authority_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

bin: derive Default for dnssec enums
  bin/src/dnssec.rs
Owners: @bluejekyll, @djc, @marcus0x62

Move server integration tests into bin crate
  Cargo.lock
  bin/Cargo.toml
  bin/tests/integration/authority_battery/basic.rs
  bin/tests/integration/authority_battery/dnssec.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  bin/tests/integration/authority_battery/mod.rs
  bin/tests/integration/config_tests.rs
  bin/tests/integration/forwarder.rs
  bin/tests/integration/in_memory.rs
  bin/tests/integration/main.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/sqlite_tests.rs
  bin/tests/integration/store_file_tests.rs
  bin/tests/integration/store_sqlite_tests.rs
  bin/tests/integration/timeout_stream_tests.rs
  bin/tests/integration/txt_tests.rs
  crates/server/tests/integration/main.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: move NxProofKind out of config module
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/config/dnssec.rs
  crates/server/src/config/mod.rs
  crates/server/src/lib.rs
  crates/server/src/store/file/authority.rs
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/sqlite/authority.rs
  crates/server/tests/integration/in_memory.rs
  crates/server/tests/integration/store_file_tests.rs
  crates/server/tests/integration/store_sqlite_tests.rs
  crates/server/tests/integration/txt_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/chained_authority_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

server: fix inconsistent conditional in integration test
  crates/server/tests/integration/config_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Move config from server to bin crate
  Cargo.lock
  bin/Cargo.toml
  bin/src/dnssec.rs
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/authority_battery/dnssec.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  bin/tests/integration/config_tests.rs
  crates/server/src/lib.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fix two issues with the config integration test:
  bin/tests/integration/config_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix two issues with the config integration test:
  bin/tests/integration/config_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Create separate IPv4 and IPv6 sockets in Hickory server
  Cargo.lock
  bin/Cargo.toml
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

Listen on IPv6 socket by default
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

Listen on IPv6 socket by default
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

Create separate IPv4 and IPv6 sockets in Hickory server
  Cargo.lock
  bin/Cargo.toml
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove workaround in clippy justfile target
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Remove workaround in clippy justfile target
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Move StoreConfig to bin crate
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  crates/server/src/store/config.rs
  crates/server/src/store/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update windows.rs to use crate::proto::xfer::Protocol
  crates/resolver/src/system_conf/windows.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update windows.rs to use crate::proto::xfer::Protocol
  crates/resolver/src/system_conf/windows.rs
Owners: @bluejekyll, @djc, @marcus0x62

Move StoreConfig to bin crate
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  crates/server/src/store/config.rs
  crates/server/src/store/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update windows.rs to use crate::proto::xfer::Protocol (#2488)
  crates/resolver/src/system_conf/windows.rs
Owners: @bluejekyll, @djc, @marcus0x62

ci: re-enable Windows
  .github/workflows/test.yml
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Update documentation and comments
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add builder for UdpClientStream
  crates/proto/src/udp/udp_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Use new builder
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_tests.rs
  crates/client/src/udp/udp_client_connection.rs
  crates/proto/src/tests/udp.rs
  crates/resolver/src/name_server/connection_provider.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Remove existing constructors
  crates/proto/src/udp/udp_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add avoid_local_port option to UDP client stream
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add avoid_local_udp_ports to recursor config
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/Cargo.toml
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add builder for UdpClientStream
  crates/proto/src/udp/udp_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add avoid_local_udp_ports to recursor config
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/Cargo.toml
  crates/resolver/src/config.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Use new builder
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_tests.rs
  crates/client/src/udp/udp_client_connection.rs
  crates/proto/src/tests/udp.rs
  crates/resolver/src/name_server/connection_provider.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add avoid_local_port option to UDP client stream
  crates/proto/src/tests/udp.rs
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove existing constructors
  crates/proto/src/udp/udp_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update documentation and comments
  crates/proto/src/udp/udp_client_stream.rs
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Disable client_tests::test_nsec3_query_name_is_soa_name
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Disable client_tests::test_nsec3_query_name_is_soa_name
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Blocklist authority
  bin/Cargo.toml
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/config_tests.rs
  crates/server/Cargo.toml
  crates/server/src/lib.rs
  crates/server/src/store/blocklist/authority.rs
  crates/server/src/store/blocklist/mod.rs
  crates/server/src/store/mod.rs
  tests/test-data/test_configs/chained_blocklist.toml
  tests/test-data/test_configs/consulting_blocklist.toml
  tests/test-data/test_configs/default/blocklist.txt
  tests/test-data/test_configs/default/blocklist2.txt
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Blocklist authority
  bin/Cargo.toml
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/config_tests.rs
  crates/server/Cargo.toml
  crates/server/src/lib.rs
  crates/server/src/store/blocklist/authority.rs
  crates/server/src/store/blocklist/mod.rs
  crates/server/src/store/mod.rs
  tests/test-data/test_configs/chained_blocklist.toml
  tests/test-data/test_configs/consulting_blocklist.toml
  tests/test-data/test_configs/default/blocklist.txt
  tests/test-data/test_configs/default/blocklist2.txt
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Bump futures-util to 0.3.31 in Cargo.lock
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Bump once_cell to 1.20.2; remove minor-version pin from Cargo.toml
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Use custom serde visitor to fix store error messages
  bin/src/hickory-dns.rs
  bin/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

Bump futures-util to 0.3.31 in Cargo.lock
  Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
