Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

dns-test: also create a DS for ZSK
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/zone_file/mod.rs
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance/dns: add bad referral scenarios
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/bad_referral.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add method and test cases to randomize ASCII alpha case in Name labels
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

dns-test: add deprecated algorithms DSA & RSAMD5
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: test against deprecated algorithms
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure/deprecated_algorithm.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance/dns: add bad referral scenarios
  conformance/packages/conformance-tests/src/resolver/dns/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/bad_referral.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add deprecated algorithms DSA & RSAMD5
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: test against deprecated algorithms
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure/deprecated_algorithm.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Implement NSEC3 zone serving
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/authority/mod.rs
  crates/server/src/store/file/authority.rs
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/sqlite/authority.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Log the request ID on failure
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

Make the kind of non-existence proof used configurable
  bin/src/hickory-dns.rs
  crates/proto/src/rr/dnssec/nsec3.rs
  crates/server/Cargo.toml
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/config/dnssec.rs
  crates/server/src/config/mod.rs
  crates/server/src/store/file/authority.rs
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/sqlite/authority.rs
  crates/server/tests/config_tests.rs
  crates/server/tests/in_memory.rs
  crates/server/tests/store_file_tests.rs
  crates/server/tests/store_sqlite_tests.rs
  crates/server/tests/txt_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
  tests/integration-tests/tests/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Let hickory sign the zonefile itself
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Implement NSEC3 zone signing
  Cargo.lock
  crates/proto/src/rr/domain/name.rs
  crates/server/Cargo.toml
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix semantic merge conflict
  conformance/packages/dns-test/src/zone_file/signer.rs
  tests/e2e-tests/Cargo.lock
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix semantic merge conflict
  conformance/packages/dns-test/src/zone_file/signer.rs
  tests/e2e-tests/Cargo.lock
Owners: @japaric, @justahero, @listochkin, @pvdrz

Use u32 internally when randomizing case of labels
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

implement rfc4398 CERT record type
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/rr/rdata/mod.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/record_type.rs
  crates/proto/src/rr/resource.rs
  crates/proto/src/serialize/txt/parse_rdata.rs
  crates/proto/src/serialize/txt/rdata_parsers/cert.rs
  crates/proto/src/serialize/txt/rdata_parsers/mod.rs
  crates/resolver/src/async_resolver.rs
  crates/resolver/src/lookup.rs
Owners: @bluejekyll, @djc, @marcus0x62

Use u32 internally when randomizing case of labels
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix formating
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/rr/record_data.rs
  crates/proto/src/rr/record_type.rs
  crates/proto/src/rr/resource.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix test order
  crates/proto/src/rr/record_type.rs
Owners: @bluejekyll, @djc, @marcus0x62

Store invalid CAA property value as Value::Unknown
  crates/proto/src/rr/rdata/caa.rs
Owners: @bluejekyll, @djc, @marcus0x62

Store invalid CAA property value as Value::Unknown
  crates/proto/src/rr/rdata/caa.rs
Owners: @bluejekyll, @djc, @marcus0x62

rework to utilize enums, finish parser, add tests
  crates/proto/src/rr/rdata/cert.rs
  crates/proto/src/serialize/txt/rdata_parsers/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix double decode, tests
  crates/proto/src/rr/rdata/cert.rs
Owners: @bluejekyll, @djc, @marcus0x62

Encode and decode CAA issuer name as ASCII only
  crates/proto/src/rr/rdata/caa.rs
Owners: @bluejekyll, @djc, @marcus0x62

Ignore escaped dots when determining FQDN status
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

Ignore escaped dots when determining FQDN status
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

Encode and decode CAA issuer name as ASCII only
  crates/proto/src/rr/rdata/caa.rs
Owners: @bluejekyll, @djc, @marcus0x62

conformance: DS of child's ZSK in parent zone
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/secure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: refactor DNSKEY's RDATA into its own struct
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  conformance/packages/dns-test/src/record.rs
  conformance/packages/dns-test/src/trust_anchor.rs
  conformance/packages/dns-test/src/zone_file/mod.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: also create a DS for ZSK
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/zone_file/mod.rs
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Revert "conformance: test against deprecated algorithms"
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure/deprecated_algorithm.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix deprecated algorithm test
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure/deprecated_algorithm.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

whitespace change
  conformance/packages/dns-test/Cargo.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

implement key tag calculation for RSAMD5
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

fix calculate_key_tag for odd-sized keys
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

fix semantic merge conflict
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure/deprecated_algorithm.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Clippy: remove unnecessary borrows
  bin/tests/server_harness/mod.rs
  tests/compatibility-tests/src/bind.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Clippy: remove unnecessary borrows
  bin/tests/server_harness/mod.rs
  tests/compatibility-tests/src/bind.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

fix clippy warnings
  conformance/packages/dns-test/src/container.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz
