Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

refactor!: remove `ZoneConfig::file`
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/config_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
Owners: @bluejekyll, @djc, @marcus0x62

rename: StoreConfig -> ServerStoreConfig
  bin/src/hickory-dns.rs
  bin/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

refactor!: add `ZoneTypeConfig` and split `StoreConfig`
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/config_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

remove the zone-level enable_dnssec setting
  bin/src/lib.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
  tests/test-data/test_configs/all_supported_dnssec.toml
  tests/test-data/test_configs/dnssec_with_update.toml
  tests/test-data/test_configs/dnssec_with_update_deprecated.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

merge is_zone_signing_key and is_zone_update_auth into a single enum
  bin/src/dnssec.rs
  bin/src/hickory-dns.rs
  bin/src/lib.rs
  bin/tests/integration/authority_battery/dnssec.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  bin/tests/integration/config_tests.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
  tests/test-data/test_configs/all_supported_dnssec.toml
  tests/test-data/test_configs/dnssec_with_update.toml
  tests/test-data/test_configs/dnssec_with_update_deprecated.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: hash lowercase name for DS
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: hash lowercase name for nsec3
  crates/proto/src/dnssec/nsec3.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: hash lowercase name for DS
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: hash lowercase name for nsec3
  crates/proto/src/dnssec/nsec3.rs
Owners: @bluejekyll, @djc, @marcus0x62

Reformat large inline tables in config files
  conformance/packages/dns-test/src/templates/hickory.resolver.toml.jinja
  tests/test-data/test_configs/dns_over_https.toml
  tests/test-data/test_configs/dns_over_quic.toml
  tests/test-data/test_configs/dns_over_tls.toml
  tests/test-data/test_configs/dns_over_tls_rustls_and_openssl.toml
  tests/test-data/test_configs/dnssec_with_update.toml
  tests/test-data/test_configs/example_forwarder.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

Reformat large inline tables in config files
  conformance/packages/dns-test/src/templates/hickory.resolver.toml.jinja
  tests/test-data/test_configs/dns_over_https.toml
  tests/test-data/test_configs/dns_over_quic.toml
  tests/test-data/test_configs/dns_over_tls.toml
  tests/test-data/test_configs/dns_over_tls_rustls_and_openssl.toml
  tests/test-data/test_configs/dnssec_with_update.toml
  tests/test-data/test_configs/example_forwarder.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

resolver: never use truncated UDP response
  conformance/packages/conformance-tests/src/resolver/dns/rfc1035/truncation.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

conformance: upgrade minijinja to 2
  conformance/Cargo.lock
  conformance/packages/dns-test/Cargo.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: update semver-compatible dependencies
  conformance/Cargo.lock
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: upgrade base64 to 0.22
  conformance/Cargo.lock
  conformance/packages/conformance-tests/Cargo.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: expose EdnsFlags::z as u16
  crates/proto/src/op/edns.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: expose EdnsFlags::z as u16
  crates/proto/src/op/edns.rs
Owners: @bluejekyll, @djc, @marcus0x62

conformance: avoid arithmetic overflow of key tag
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: avoid arithmetic overflow of key tag
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

tests: upgrade minijinja in e2e-tests
  tests/e2e-tests/Cargo.lock
  tests/e2e-tests/Cargo.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
