Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

proto: use Cow to allow public key types to be 'static
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/ring.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: extract single client_config() helper
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/h3/mod.rs
  crates/proto/src/quic/mod.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/rustls/mod.rs
  crates/resolver/src/tls/dns_over_rustls.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade to rustls-native-certs 0.8
  Cargo.lock
  Cargo.toml
  crates/proto/src/rustls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: make TLS roots features independent
  crates/proto/src/error.rs
  crates/proto/src/rustls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade prefix-trie to 0.5
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade thiserror to 2
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Bump version to 0.25.0-alpha.4
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Update changelog for release
  CHANGELOG.md
Owners: @bluejekyll, @djc, @marcus0x62

proto: take reference to PublicKey where possible
  bin/src/dnssec.rs
  bin/src/hickory-dns.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/signer.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: commit public key to an algorithm
  crates/proto/src/dnssec/ec_public_key.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/ring.rs
  crates/proto/src/dnssec/signer.rs
  crates/proto/src/dnssec/verifier.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: regenerate ECDSA key from the wrong curve
  tests/test-data/test_configs/dnssec/ecdsa_p256.pem
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: use Cow to allow public key types to be 'static
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/ring.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: simplify combinator-heavy OpenSSL code
  crates/proto/src/dnssec/openssl.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: replace PublicKeyEnum with decode_public_key() function
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/dnssec/signer.rs
  crates/proto/src/dnssec/trust_anchor.rs
  crates/proto/src/dnssec/verifier.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: make public key decoding paths independent of backend
  crates/proto/src/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move OpenSSL public key wrangling code into openssl module
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: use real public keys in tests
  crates/proto/src/dnssec/rdata/dnskey.rs
  crates/proto/src/dnssec/rdata/ds.rs
  crates/proto/src/dnssec/rdata/key.rs
  crates/proto/src/serialize/txt/rdata_parsers/dnskey.rs
  crates/proto/src/serialize/txt/trust_anchor.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: extract single client_config() helper
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/h3/mod.rs
  crates/proto/src/quic/mod.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/rustls/mod.rs
  crates/resolver/src/tls/dns_over_rustls.rs
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade prefix-trie to 0.5
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Update changelog for release
  CHANGELOG.md
Owners: @bluejekyll, @djc, @marcus0x62

proto: make TLS roots features independent
  crates/proto/src/error.rs
  crates/proto/src/rustls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Bump version to 0.25.0-alpha.4
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade thiserror to 2
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
Owners: @bluejekyll, @djc, @marcus0x62

Upgrade to rustls-native-certs 0.8
  Cargo.lock
  Cargo.toml
  crates/proto/src/rustls/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Referral limits
  conformance/packages/dns-test/src/templates/hickory.resolver.toml.jinja
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/e2e-tests/src/resolver/do_not_query.rs
  tests/e2e-tests/src/resolver/do_not_query.toml.jinja
  tests/test-data/test_configs/chained_blocklist.toml
  tests/test-data/test_configs/consulting_blocklist.toml
  tests/test-data/test_configs/example_recursor.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

update bad referral tests in conformance
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/bad_referral.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Update the root hints file in the test configs directory.
  tests/test-data/test_configs/default/root.zone
Owners: @japaric, @justahero, @listochkin, @pvdrz

Update the root hints file in the test configs directory.
  tests/test-data/test_configs/default/root.zone
Owners: @japaric, @justahero, @listochkin, @pvdrz

update bad referral tests in conformance
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/bad_referral.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

change PrefixSet::contains to PrefixSet::get_spm in matches_do_not_query
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Referral limits
  conformance/packages/dns-test/src/templates/hickory.resolver.toml.jinja
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/e2e-tests/src/resolver/do_not_query.rs
  tests/e2e-tests/src/resolver/do_not_query.toml.jinja
  tests/test-data/test_configs/chained_blocklist.toml
  tests/test-data/test_configs/consulting_blocklist.toml
  tests/test-data/test_configs/example_recursor.toml
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Fix check_drop_privs error on Windows
  bin/src/hickory-dns.rs
  bin/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix check_drop_privs error on Windows
  bin/src/hickory-dns.rs
  bin/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix typos
  CONTRIBUTING.md
  bin/README.md
  bin/src/lib.rs
  bin/tests/integration/store_file_tests.rs
  crates/client/README.md
  crates/client/src/tests.rs
  crates/proto/src/dnssec/proof.rs
  crates/proto/src/dnssec/rdata/tsig.rs
  crates/proto/src/error.rs
  crates/proto/src/op/header.rs
  crates/proto/src/op/message.rs
  crates/proto/src/op/response_code.rs
  crates/proto/src/rr/domain/label.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/domain/usage.rs
  crates/proto/src/xfer/dns_response.rs
  crates/proto/src/xfer/mod.rs
  crates/recursor/src/error.rs
  crates/resolver/src/config.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/hosts.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/store/blocklist/authority.rs
  justfile
  scripts/kcov.sh
  tests/compatibility-tests/Cargo.toml
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/test-data/test_configs/example.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fix typos
  CONTRIBUTING.md
  bin/README.md
  bin/src/lib.rs
  bin/tests/integration/store_file_tests.rs
  crates/client/README.md
  crates/client/src/tests.rs
  crates/proto/src/dnssec/proof.rs
  crates/proto/src/dnssec/rdata/tsig.rs
  crates/proto/src/error.rs
  crates/proto/src/op/header.rs
  crates/proto/src/op/message.rs
  crates/proto/src/op/response_code.rs
  crates/proto/src/rr/domain/label.rs
  crates/proto/src/rr/domain/name.rs
  crates/proto/src/rr/domain/usage.rs
  crates/proto/src/xfer/dns_response.rs
  crates/proto/src/xfer/mod.rs
  crates/recursor/src/error.rs
  crates/resolver/src/config.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/hosts.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/store/blocklist/authority.rs
  justfile
  scripts/kcov.sh
  tests/compatibility-tests/Cargo.toml
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/test-data/test_configs/example.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Simplify platform-independent privilege dropping
  bin/src/hickory-dns.rs
  bin/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

Simplify platform-independent privilege dropping
  bin/src/hickory-dns.rs
  bin/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

Log server config on connection failure.
  crates/resolver/src/name_server/name_server.rs
Owners: @bluejekyll, @djc, @marcus0x62

Clean up native-tls tests
  crates/proto/src/native_tls/tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Re-enable forwarder test
  bin/tests/integration/forwarder.rs
Owners: @bluejekyll, @djc, @marcus0x62
