Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

Clean other target directories in `just clean`
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Clean other target directories in `just clean`
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Stop using pseudo-TTYs with Docker
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/tshark.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: treat unknown algorithms as Insecure
  crates/proto/src/rr/dnssec/proof.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: report Insecure as NOERROR+AD=0
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/authority/mod.rs
  crates/server/src/store/recursor/authority.rs
  tests/ede-dot-com/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: treat record as Insecure if all keys are Insecure
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

server: report Insecure as NOERROR+AD=0
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/authority/mod.rs
  crates/server/src/store/recursor/authority.rs
  tests/ede-dot-com/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: treat record as Insecure if all keys are Insecure
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

proto: treat unknown algorithms as Insecure
  crates/proto/src/rr/dnssec/proof.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

CAA: Preserve reserved flags
  crates/proto/src/rr/rdata/caa.rs
  crates/proto/src/serialize/txt/rdata_parsers/caa.rs
Owners: @bluejekyll, @djc, @marcus0x62

module docs explaining NSEC3 terminology
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

NSEC3 Validation for NXDomain responses
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
  tests/integration-tests/tests/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

NSEC3 Validation for "No data" responses
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
  tests/integration-tests/tests/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

NSEC3 validation: hashing parameter checks
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

NSEC3 Validation for NXDomain responses
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
  tests/integration-tests/tests/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

module docs explaining NSEC3 terminology
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

NSEC3 validation: hashing parameter checks
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

NSEC3 Validation for "No data" responses
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
  tests/integration-tests/tests/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

add Algorithm::is_supported
  crates/proto/src/rr/dnssec/algorithm.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

treat zone as Insecure if all DNSKEY algorithms are unsupported
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure/deprecated_algorithm.rs
  crates/proto/src/rr/dnssec/proof.rs
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Fix compilation with dns-over-openssl
  bin/tests/named_openssl_tests.rs
  crates/server/src/config/dnssec.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fix dns-over-openssl target in justfile
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Fix dns-over-openssl target in justfile
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Fix compilation with dns-over-openssl
  bin/tests/named_openssl_tests.rs
  crates/server/src/config/dnssec.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Unify compat crate integration tests
  tests/compatibility-tests/tests/integration/main.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Unify server crate integration tests
  crates/server/tests/integration/authority_battery/basic.rs
  crates/server/tests/integration/authority_battery/dnssec.rs
  crates/server/tests/integration/authority_battery/dynamic_update.rs
  crates/server/tests/integration/authority_battery/mod.rs
  crates/server/tests/integration/config_tests.rs
  crates/server/tests/integration/forwarder.rs
  crates/server/tests/integration/in_memory.rs
  crates/server/tests/integration/main.rs
  crates/server/tests/integration/sqlite_tests.rs
  crates/server/tests/integration/store_file_tests.rs
  crates/server/tests/integration/store_sqlite_tests.rs
  crates/server/tests/integration/timeout_stream_tests.rs
  crates/server/tests/integration/txt_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unify binary crate integration tests
  bin/tests/integration/main.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_openssl_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_rustls_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/server_harness/mut_message_client.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unify proto crate integration tests
  crates/proto/tests/integration/dnssec_presentation_format_tests.rs
  crates/proto/tests/integration/main.rs
  crates/proto/tests/integration/openssl_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unify integration crate integration tests
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  tests/integration-tests/tests/integration/main.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  tests/integration-tests/tests/integration/retry_dns_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Unify proto crate integration tests
  crates/proto/tests/integration/dnssec_presentation_format_tests.rs
  crates/proto/tests/integration/main.rs
  crates/proto/tests/integration/openssl_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unify binary crate integration tests
  bin/tests/integration/main.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_openssl_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/named_rustls_tests.rs
  bin/tests/integration/named_test_rsa_dnssec.rs
  bin/tests/integration/named_tests.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/server_harness/mut_message_client.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unify compat crate integration tests
  tests/compatibility-tests/tests/integration/main.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
  tests/compatibility-tests/tests/integration/tsig_tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Unify server crate integration tests
  crates/server/tests/integration/authority_battery/basic.rs
  crates/server/tests/integration/authority_battery/dnssec.rs
  crates/server/tests/integration/authority_battery/dynamic_update.rs
  crates/server/tests/integration/authority_battery/mod.rs
  crates/server/tests/integration/config_tests.rs
  crates/server/tests/integration/forwarder.rs
  crates/server/tests/integration/in_memory.rs
  crates/server/tests/integration/main.rs
  crates/server/tests/integration/sqlite_tests.rs
  crates/server/tests/integration/store_file_tests.rs
  crates/server/tests/integration/store_sqlite_tests.rs
  crates/server/tests/integration/timeout_stream_tests.rs
  crates/server/tests/integration/txt_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unify integration crate integration tests
  tests/integration-tests/tests/integration/catalog_tests.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/dnssec_client_handle_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  tests/integration-tests/tests/integration/main.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  tests/integration-tests/tests/integration/retry_dns_handle_tests.rs
  tests/integration-tests/tests/integration/server_future_tests.rs
  tests/integration-tests/tests/integration/sqlite_authority_tests.rs
  tests/integration-tests/tests/integration/truncation_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add Algorithm::is_supported
  crates/proto/src/rr/dnssec/algorithm.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

treat zone as Insecure if all DNSKEY algorithms are unsupported
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure/deprecated_algorithm.rs
  crates/proto/src/rr/dnssec/proof.rs
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

SignSettings: rm use_dnssec field
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

recursor: move Default impl below inherent impl
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62

Use nice formatting for numbers
  conformance/packages/dns-test/src/zone_file/signer.rs
  crates/client/src/tests.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h2/h2_server.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/multicast/mdns_stream.rs
  crates/proto/src/op/message.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/signer.rs
  crates/proto/src/serialize/txt/zone_lex.rs
  crates/proto/src/udp/mod.rs
  crates/proto/src/udp/udp_stream.rs
  crates/proto/tests/integration/openssl_tests.rs
  crates/recursor/src/recursor.rs
  crates/server/src/server/server_future.rs
  crates/server/src/store/recursor/config.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

recursor: deduplicate default values
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62
