Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

resolver: move test-only impl into tests module
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: move GenericNameServerPool above NameServerPool definition
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: collect directly into Arc<[T]>
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: tweak formatting
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: clean up imports
  crates/resolver/src/name_server/name_server_pool.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: remove unnecessary trait shims
  crates/proto/src/dnssec/mod.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move SigningKey trait and decode_key() into dnssec root module
  crates/proto/src/dnssec/key_format.rs
  crates/proto/src/dnssec/keypair.rs
  crates/proto/src/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: create separate modules for ring and openssl
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/ring.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: only export backend-specific implementations via specific modules
  crates/proto/src/dnssec/mod.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: avoid silently defaulting to SHA512
  crates/proto/src/dnssec/digest_type.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: narrow DigestType definition to make conversions infallible
  crates/proto/src/dnssec/digest_type.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move SigningKey trait and decode_key() into dnssec root module
  crates/proto/src/dnssec/key_format.rs
  crates/proto/src/dnssec/keypair.rs
  crates/proto/src/dnssec/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: only export backend-specific implementations via specific modules
  crates/proto/src/dnssec/mod.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: avoid silently defaulting to SHA512
  crates/proto/src/dnssec/digest_type.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: remove unnecessary trait shims
  crates/proto/src/dnssec/mod.rs
  util/src/bin/pem-to-public-dnskey.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: create separate modules for ring and openssl
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/ring.rs
  tests/compatibility-tests/tests/integration/sig0_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: narrow DigestType definition to make conversions infallible
  crates/proto/src/dnssec/digest_type.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

Use larger default buffer size
  crates/proto/src/op/message.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove unnecessary PartialEq/Eq implementations
  bin/src/lib.rs
  bin/tests/integration/config_tests.rs
  crates/resolver/src/config.rs
  crates/resolver/src/system_conf/unix.rs
  crates/server/src/store/forwarder/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: remove low-value equality wrapper
  crates/resolver/src/config.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/tls/dns_over_rustls.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: use named fields for NameServerConfigGroup
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Avoid aliases for rustls::ClientConfig
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/resolver/src/h2.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/quic.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: restrict PartialEq impl for NameServerConfig
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: simplify serde for NameServerConfigGroup
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: restrict PartialEq impl for NameServerConfigGroup
  crates/resolver/src/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

dns: improve error message when Cargo feature is missing
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

dns: improve error message when Cargo feature is missing
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

conformance: add netcat to client Docker image
  conformance/packages/dns-test/src/docker/client.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: make the low level Container API public
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: add util/dns to Docker image
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
Owners: @japaric, @justahero, @listochkin, @pvdrz

e2e-tests: test client against unresponsive TLS server
  tests/e2e-tests/src/client.rs
  tests/e2e-tests/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: apply timeout to TLS handshake phase
  crates/proto/src/h2/h2_client_stream.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fix building with dns-over-openssl
  Cargo.lock
  bin/Cargo.toml
  bin/src/dnssec.rs
  bin/tests/integration/named_openssl_tests.rs
  tests/integration-tests/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add dns-over-openssl to CI
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

Fix building with dns-over-openssl
  Cargo.lock
  bin/Cargo.toml
  bin/src/dnssec.rs
  bin/tests/integration/named_openssl_tests.rs
  tests/integration-tests/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add dns-over-openssl to CI
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

util: Fix building with rustls_native_certs only
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add cargo-all-features configuration
  bin/Cargo.toml
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/server/Cargo.toml
  tests/integration-tests/Cargo.toml
  util/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Clean up references to AsyncClient
  README.md
  bin/README.md
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/client/README.md
  crates/client/src/client/client.rs
  crates/resolver/README.md
  tests/integration-tests/src/lib.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

util: Fix building with rustls_native_certs only
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
