Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

refactor append_ips_from_lookup
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Test for infinite recursion fix
  tests/e2e-tests/src/recursor.rs
  tests/e2e-tests/src/recursor/delegation.rs
  tests/e2e-tests/src/recursor/delegation/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add missing depth tracking to ns_pool_for_zone and _referral
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

clean up ns_pool_for_zone glue record loop
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

refactor append_ips_from_lookup
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Test for infinite recursion fix
  tests/e2e-tests/src/recursor.rs
  tests/e2e-tests/src/recursor/delegation.rs
  tests/e2e-tests/src/recursor/delegation/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Use lookup instead of resolve in ns_pool_for_referral and _zone glue loops
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add recursion_exceeded function
  crates/recursor/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/store/recursor/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix error propagation
  crates/recursor/src/error.rs
  crates/server/src/authority/catalog.rs
  tests/e2e-tests/src/recursor/cname/scenarios.rs
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

CI: Remove continue-on-error from steps
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

Fix Clippy warning
  crates/proto/src/multicast/mdns_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: remove old type alias
  crates/proto/src/rr/dnssec/mod.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: move key_tag() method into PublicKey trait
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: simplify to_ds() implementation
  crates/proto/src/rr/dnssec/keypair.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move to_dnskey() into PublicKey trait
  bin/src/dnssec.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
  crates/proto/src/rr/dnssec/signer.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/src/example_authority.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: remove unnecessary dnssec guards
  crates/proto/src/rr/dnssec/digest_type.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/nsec3.rs
  crates/proto/src/rr/dnssec/signer.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move to_ds() into PublicKey trait
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: move to_sigkey*() methods into PublicKey trait
  bin/src/hickory-dns.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

add timeout option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

disable AD flag in txid test
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

set timeout in txid test
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add timeout option to dig settings
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

disable AD flag in txid test
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

set timeout in txid test
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

proto: remove unused trait
  crates/proto/src/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: make error module private
  bin/benches/comparison_benches.rs
  bin/src/lib.rs
  crates/async-std-resolver/src/runtime.rs
  crates/client/src/client/client.rs
  crates/client/src/client/dnssec_client.rs
  crates/client/src/client/memoize_client_handle.rs
  crates/client/src/client/rc_stream.rs
  crates/client/src/error/client_error.rs
  crates/proto/src/error.rs
  crates/proto/src/lib.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/error.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/lookup_ip.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  crates/resolver/src/tls/dns_over_rustls.rs
  crates/server/src/authority/authority.rs
  crates/server/src/authority/error.rs
  crates/server/src/authority/message_request.rs
  crates/server/src/authority/message_response.rs
  crates/server/src/error/persistence_error.rs
  crates/server/src/server/h3_handler.rs
  crates/server/src/server/quic_handler.rs
  crates/server/src/server/server_future.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  tests/integration-tests/tests/integration/retry_dns_handle_tests.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

resolver: make error module private
  crates/async-std-resolver/src/lib.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_pool.rs
  crates/resolver/src/error.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/system_conf/unix.rs
  crates/server/src/authority/error.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

client: make error module private
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/server_harness/mut_message_client.rs
  crates/client/src/client/client.rs
  crates/client/src/error.rs
  crates/client/src/error/mod.rs
  crates/client/src/lib.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

recursor: make error module private
  crates/recursor/src/error.rs
  crates/recursor/src/lib.rs
  crates/server/src/authority/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: make error module private
  bin/src/lib.rs
  crates/server/src/error/config_error.rs
  crates/server/src/error/mod.rs
  crates/server/src/error/persistence_error.rs
  crates/server/src/lib.rs
  crates/server/src/store/sqlite/authority.rs
  crates/server/src/store/sqlite/persistence.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: make error module private
  bin/src/lib.rs
  crates/server/src/error/config_error.rs
  crates/server/src/error/mod.rs
  crates/server/src/error/persistence_error.rs
  crates/server/src/lib.rs
  crates/server/src/store/sqlite/authority.rs
  crates/server/src/store/sqlite/persistence.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: make error module private
  bin/benches/comparison_benches.rs
  bin/src/lib.rs
  crates/async-std-resolver/src/runtime.rs
  crates/client/src/client/client.rs
  crates/client/src/client/dnssec_client.rs
  crates/client/src/client/memoize_client_handle.rs
  crates/client/src/client/rc_stream.rs
  crates/client/src/error/client_error.rs
  crates/proto/src/error.rs
  crates/proto/src/lib.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/error.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/lookup_ip.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  crates/resolver/src/tls/dns_over_rustls.rs
  crates/server/src/authority/authority.rs
  crates/server/src/authority/error.rs
  crates/server/src/authority/message_request.rs
  crates/server/src/authority/message_response.rs
  crates/server/src/error/persistence_error.rs
  crates/server/src/server/h3_handler.rs
  crates/server/src/server/quic_handler.rs
  crates/server/src/server/server_future.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  tests/integration-tests/tests/integration/retry_dns_handle_tests.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

recursor: make error module private
  crates/recursor/src/error.rs
  crates/recursor/src/lib.rs
  crates/server/src/authority/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

client: make error module private
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/server_harness/mut_message_client.rs
  crates/client/src/client/client.rs
  crates/client/src/error.rs
  crates/client/src/error/mod.rs
  crates/client/src/lib.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: remove unused trait
  crates/proto/src/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

resolver: make error module private
  crates/async-std-resolver/src/lib.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_pool.rs
  crates/resolver/src/error.rs
  crates/resolver/src/lib.rs
  crates/resolver/src/system_conf/unix.rs
  crates/server/src/authority/error.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

ci: don't build benchmarks, only check them
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

proto: move to_sigkey*() methods into PublicKey trait
  bin/src/hickory-dns.rs
  bin/tests/integration/authority_battery/dynamic_update.rs
  crates/proto/src/rr/dnssec/keypair.rs
  crates/proto/src/rr/dnssec/public_key.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: remove old type alias
  crates/proto/src/rr/dnssec/mod.rs
  crates/proto/src/rr/dnssec/signer.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: simplify to_ds() implementation
  crates/proto/src/rr/dnssec/keypair.rs
Owners: @bluejekyll, @djc, @marcus0x62

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
