Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc

# default owners for the whole repository
* @bluejekyll @djc

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz

resolve conflicts with upstream
  crates/server/src/authority/catalog.rs
  crates/server/src/store/recursor/authority.rs
Owners: @bluejekyll, @djc

Update bytes to 1.6.1
  Cargo.lock
Owners: @bluejekyll, @djc

Update bytes to 1.6.1
  Cargo.lock
Owners: @bluejekyll, @djc

Add support for PTR query
  crates/resolver/src/hosts.rs
Owners: @bluejekyll, @djc

Add support for PTR query
  crates/resolver/src/hosts.rs
Owners: @bluejekyll, @djc

parse additional section from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add regression test for #2306
  conformance/packages/conformance-tests/src/resolver/dnssec/regression.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

parse additional section from dig output
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add regression test for #2306
  conformance/packages/conformance-tests/src/resolver/dnssec/regression.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

NSEC3 validation, part 1
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

NSEC3 validation, part 1
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

Extract calculation of current time into function
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

Add test to check TTL of valdiated record
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Set TTL of RRSIG and RR
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc

Add test to check TTLs for RR + RRSIG
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Move authenticated_ttl into RRSIG
  crates/proto/src/rr/dnssec/rdata/rrsig.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

Refactor determination of TTL
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

Fix conformance test with unbound as subject
  conformance/packages/dns-test/src/templates/unbound.conf.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix udp create immediate polling wrong
  crates/proto/src/udp/udp_stream.rs
Owners: @bluejekyll, @djc

avoid moving self in read_hosts_conf
  crates/resolver/src/hosts.rs
Owners: @bluejekyll, @djc

avoid moving self in read_hosts_conf
  crates/resolver/src/hosts.rs
Owners: @bluejekyll, @djc

Add test to check TTLs for RR + RRSIG
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Fix conformance test with unbound as subject
  conformance/packages/dns-test/src/templates/unbound.conf.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

Extract calculation of current time into function
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

Add test to check TTL of valdiated record
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Refactor determination of TTL
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

Move authenticated_ttl into RRSIG
  crates/proto/src/rr/dnssec/rdata/rrsig.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc

Set TTL of RRSIG and RR
  conformance/packages/conformance-tests/src/resolver/dnssec/rfc4035/section_5/section_5_3.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc

Upgrade to rustls 0.23, quinn 0.11, etc
  Cargo.lock
  Cargo.toml
  bin/tests/named_https_tests.rs
  bin/tests/named_quic_tests.rs
  bin/tests/named_rustls_tests.rs
  crates/async-std-resolver/src/net.rs
  crates/async-std-resolver/src/runtime.rs
  crates/client/src/h2_client_connection.rs
  crates/proto/Cargo.toml
  crates/proto/src/error.rs
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/h3/h3_server.rs
  crates/proto/src/quic/mod.rs
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/quic/quic_server.rs
  crates/proto/src/quic/quic_socket.rs
  crates/proto/src/quic/quic_stream.rs
  crates/proto/src/quic/tests.rs
  crates/proto/src/rustls/tests.rs
  crates/proto/src/rustls/tls_server.rs
  crates/proto/src/rustls/tls_stream.rs
  crates/proto/src/udp/mod.rs
  crates/proto/src/udp/udp_stream.rs
  crates/resolver/Cargo.toml
  crates/resolver/src/config.rs
  crates/resolver/src/h3.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/quic.rs
  crates/resolver/src/tls/dns_over_rustls.rs
  crates/server/src/config/dnssec.rs
  crates/server/src/server/server_future.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/client_future_tests.rs
  tests/integration-tests/tests/server_future_tests.rs
  util/Cargo.toml
  util/src/bin/dns.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

Update OpenSSL to fix security issue
  Cargo.lock
Owners: @bluejekyll, @djc

Update OpenSSL to fix security issue
  Cargo.lock
Owners: @bluejekyll, @djc

Allow to modify a specific RRSIG record before signing
  conformance/packages/dns-test/src/record.rs
  conformance/packages/dns-test/src/zone_file/mod.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

testing NSEC3 responses from `example.com`
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/integration-tests/tests/client_tests.rs
Owners: @bluejekyll, @djc, @japaric, @justahero, @listochkin, @pvdrz

enable canonical conformance tests for NSEC3 validation
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Set explicit version of tokio
  Cargo.lock
  Cargo.toml
Owners: @bluejekyll, @djc

Bump MSRV to 1.70
  .github/workflows/test.yml
  Cargo.toml
  README.md
  bin/README.md
  crates/async-std-resolver/README.md
  crates/client/README.md
  crates/proto/README.md
  crates/recursor/README.md
  crates/resolver/README.md
  crates/server/README.md
  fuzz/Cargo.toml
Owners: @bluejekyll, @djc

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc

Update semver-compatible dependencies
  Cargo.lock
Owners: @bluejekyll, @djc

Bump MSRV to 1.70
  .github/workflows/test.yml
  Cargo.toml
  README.md
  bin/README.md
  crates/async-std-resolver/README.md
  crates/client/README.md
  crates/proto/README.md
  crates/recursor/README.md
  crates/resolver/README.md
  crates/server/README.md
  fuzz/Cargo.toml
Owners: @bluejekyll, @djc

justfile: stop enumerating target types after --all-targets
  justfile
Owners: @bluejekyll, @djc
