Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

CI: Cache Unbound container
  .github/workflows/conformance.yml
  conformance/packages/dns-test/src/container.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add IANA Trust Anchors in example
  tests/test-data/test_configs/dnssec/example.com.zone
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add support for CNAME records to dns-test
  conformance/packages/dns-test/src/record.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: Add option to override config file
  conformance/packages/dns-test/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Block recursive queries to configured networks
  Cargo.lock
  crates/recursor/Cargo.toml
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/config/mod.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add end-to-end tests
  tests/e2e-tests/Cargo.lock
  tests/e2e-tests/Cargo.toml
  tests/e2e-tests/src/resolver.rs
  tests/e2e-tests/src/resolver/do_not_query.rs
  tests/e2e-tests/src/resolver/do_not_query.toml.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: test resolver with query about unsigned zone
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios.rs
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: parse multiple EDE codes
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/ede.rs
  conformance/packages/dns-test/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Plumb is_no_records_found() and into_soa() across all error types
  crates/proto/src/error.rs
  crates/recursor/src/error.rs
  crates/resolver/src/error.rs
  crates/server/src/authority/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

Forward SOA records in NXDOMAIN
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

fix conformance tests
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus/no_rrsig_dnskey.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

fix conformance tests
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus/no_rrsig_dnskey.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Plumb is_no_records_found() and into_soa() across all error types
  crates/proto/src/error.rs
  crates/recursor/src/error.rs
  crates/resolver/src/error.rs
  crates/server/src/authority/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

Forward SOA records in NXDOMAIN
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

skip DS records whose algorithm does not match the DNSKEY's
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

conformance: add malformed DS tests
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

reject DS records with unknown algorithms
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

remove superfluous `trace!` log
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

check that key tag matches before using a DS record
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Add method and test cases to randomize ASCII alpha case in Name labels
  crates/proto/src/rr/domain/name.rs
Owners: @bluejekyll, @djc, @marcus0x62

skip DS records whose algorithm does not match the DNSKEY's
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

conformance: add malformed DS tests
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

check that key tag matches before using a DS record
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

remove superfluous `trace!` log
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

reject DS records with unknown algorithms
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

dns-test: double sign the DNSKEY record set
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: add DNSKEY::calculate_key_tag
  conformance/Cargo.lock
  conformance/packages/dns-test/Cargo.toml
  conformance/packages/dns-test/src/record.rs
  tests/ede-dot-com/Cargo.lock
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: DNSKEY was signed with ZSK
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

do not validate DNSKEY RRSIGs using a ZSK
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/rr/dnssec/rdata/dnskey.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Make the kind of non-existence proof used configurable
  bin/src/hickory-dns.rs
  crates/proto/src/rr/dnssec/nsec3.rs
  crates/server/Cargo.toml
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/config/dnssec.rs
  crates/server/src/config/mod.rs
  crates/server/src/store/file/authority.rs
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/sqlite/authority.rs
  crates/server/tests/config_tests.rs
  crates/server/tests/in_memory.rs
  crates/server/tests/store_file_tests.rs
  crates/server/tests/store_sqlite_tests.rs
  crates/server/tests/txt_tests.rs
  tests/integration-tests/src/example_authority.rs
  tests/integration-tests/tests/catalog_tests.rs
  tests/integration-tests/tests/sqlite_authority_tests.rs
  tests/integration-tests/tests/truncation_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Implement NSEC3 zone signing
  Cargo.lock
  crates/proto/src/rr/domain/name.rs
  crates/server/Cargo.toml
  crates/server/src/store/in_memory/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Let hickory sign the zonefile itself
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Implement NSEC3 zone serving
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
  crates/server/src/authority/authority.rs
  crates/server/src/authority/authority_object.rs
  crates/server/src/authority/catalog.rs
  crates/server/src/authority/mod.rs
  crates/server/src/store/file/authority.rs
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/sqlite/authority.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Log the request ID on failure
  crates/server/src/authority/catalog.rs
Owners: @bluejekyll, @djc, @marcus0x62

conformance: DNSKEY was signed with ZSK
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

do not validate DNSKEY RRSIGs using a ZSK
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  crates/proto/src/rr/dnssec/rdata/dnskey.rs
  crates/proto/src/xfer/dnssec_dns_handle.rs
  tests/ede-dot-com/src/lib.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

dns-test: add DNSKEY::calculate_key_tag
  conformance/Cargo.lock
  conformance/packages/dns-test/Cargo.toml
  conformance/packages/dns-test/src/record.rs
  tests/ede-dot-com/Cargo.lock
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: double sign the DNSKEY record set
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

dns-test: refactor DNSKEY's RDATA into its own struct
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/bogus.rs
  conformance/packages/dns-test/src/record.rs
  conformance/packages/dns-test/src/trust_anchor.rs
  conformance/packages/dns-test/src/zone_file/mod.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: DS of child's ZSK in parent zone
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/secure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
