Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Switch DnsLru from lru-cache to moka
  Cargo.lock
  Cargo.toml
  crates/resolver/Cargo.toml
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

Clean up references to AsyncClient
  README.md
  bin/README.md
  bin/tests/integration/named_test_rsa_dnssec.rs
  crates/client/README.md
  crates/client/src/client/client.rs
  crates/resolver/README.md
  tests/integration-tests/src/lib.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

proto: split key_format module
  crates/proto/src/dnssec/key_format.rs
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/openssl.rs
  crates/proto/src/dnssec/ring.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: explicitly pick a signing backend in DNSSEC code
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/signer.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: add support for ring-based RSA signing keys
  crates/proto/src/dnssec/mod.rs
  crates/proto/src/dnssec/public_key.rs
  crates/proto/src/dnssec/ring.rs
  crates/proto/tests/test-data/rsa-2048-private-key-1.pk8
  crates/proto/tests/test-data/rsa-2048-private-key-2.pk8
Owners: @bluejekyll, @djc, @marcus0x62

Update udp_client_stream.rs
  crates/proto/src/udp/udp_client_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

extend test to DoT, DoQ and DoH3 protocols
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  tests/e2e-tests/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

add support for NSEC3 opt-out to dns-test signer
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
  conformance/packages/conformance-tests/src/resolver/nsec.rs
  conformance/packages/dns-test/src/docker/bind.Dockerfile
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  conformance/packages/dns-test/src/docker/unbound.Dockerfile
  conformance/packages/dns-test/src/zone_file/mod.rs
  conformance/packages/dns-test/src/zone_file/signer.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

fix and unignore existing insecure delegation tests
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

debug logs for nsec/nsec3 proof decisions
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

NSEC3 opt-out support
  crates/proto/src/xfer/dnssec_dns_handle/nsec3_validation.rs
Owners: @bluejekyll, @djc, @marcus0x62

DNSSEC insecure delegation support
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add NSEC1 and NSEC3 opt-out tests to insecure tests scenarios
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

apply handshake timeout to DoT
  crates/proto/src/h2/h2_client_stream.rs
  crates/proto/src/runtime.rs
  crates/proto/src/rustls/tls_stream.rs
  tests/e2e-tests/src/client.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

server: Use recursor/resolver features in cfg
  crates/server/src/authority/error.rs
  crates/server/src/lib.rs
  crates/server/src/store/forwarder/mod.rs
  crates/server/src/store/recursor/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: recursor depends on hickory-resolver
  crates/server/Cargo.toml
  crates/server/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

Disable implicit features
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

server: Fix compilation with recursor, w/o DNSSEC
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix copied documentation
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/recursor/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Show nameserver logs on failure of NSEC3 tests
  conformance/packages/conformance-tests/src/name_server/rfc5155.rs
  conformance/packages/dns-test/src/name_server.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Switch between PEM and PKCS8 keys for nameserver
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

Update justfile to invoke conformance-hickory-ring
  justfile
Owners: @bluejekyll, @djc, @marcus0x62

Conformance: Configurable Hickory DNS features
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/docker/hickory.Dockerfile
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/lib.rs
  justfile
Owners: @japaric, @justahero, @listochkin, @pvdrz, @bluejekyll, @djc, @marcus0x62

Extend dig timeout in bad referral tests
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/bad_referral.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Extend dig timeout in bad referral tests
  conformance/packages/conformance-tests/src/resolver/dns/scenarios/bad_referral.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Update READMEs
  README.md
  bin/README.md
  crates/client/README.md
  crates/client/src/lib.rs
  crates/client/src/tests.rs
  crates/resolver/README.md
  crates/resolver/src/lib.rs
  crates/resolver/src/tests.rs
  tests/compatibility-tests/tests/integration/zone_transfer.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Remove redundant cache insert in resolve_cnames()
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: Fix compilation with recursor, w/o DNSSEC
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: recursor depends on hickory-resolver
  crates/server/Cargo.toml
  crates/server/src/lib.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: Use recursor/resolver features in cfg
  crates/server/src/authority/error.rs
  crates/server/src/lib.rs
  crates/server/src/store/forwarder/mod.rs
  crates/server/src/store/recursor/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Disable implicit features
  crates/server/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62

Fix copied documentation
  crates/server/src/store/forwarder/authority.rs
  crates/server/src/store/recursor/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add cargo-all-features configuration
  bin/Cargo.toml
  crates/client/Cargo.toml
  crates/proto/Cargo.toml
  crates/recursor/Cargo.toml
  crates/resolver/Cargo.toml
  crates/server/Cargo.toml
  tests/integration-tests/Cargo.toml
  util/Cargo.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Fix feature combinations
  crates/proto/src/lib.rs
  crates/proto/src/runtime.rs
Owners: @bluejekyll, @djc, @marcus0x62

Remove redundant cache insert in resolve_cnames()
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Apply timeout to the QUIC handshake phase
  crates/proto/src/quic/quic_client_stream.rs
  crates/proto/src/runtime.rs
Owners: @bluejekyll, @djc, @marcus0x62

Unignore QUIC timeout test
  tests/e2e-tests/src/client.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Update default logging filter to match all crates
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

Apply timeout to the H3 handshake phase
  crates/proto/src/h3/h3_client_stream.rs
  crates/proto/src/runtime.rs
Owners: @bluejekyll, @djc, @marcus0x62

Update default logging filter to match all crates
  bin/src/hickory-dns.rs
Owners: @bluejekyll, @djc, @marcus0x62

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
