Repository hickory-dns/hickory-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

recursor: yield crate::Error instead of ResolveError
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: remove unused trait
  crates/proto/src/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

proto: make error module private
  bin/src/lib.rs
  crates/async-std-resolver/src/runtime.rs
  crates/client/src/client/client.rs
  crates/client/src/client/dnssec_client.rs
  crates/client/src/client/memoize_client_handle.rs
  crates/client/src/client/rc_stream.rs
  crates/client/src/error/client_error.rs
  crates/proto/src/error.rs
  crates/proto/src/lib.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/src/caching_client.rs
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/error.rs
  crates/resolver/src/lookup.rs
  crates/resolver/src/lookup_ip.rs
  crates/resolver/src/name_server/connection_provider.rs
  crates/resolver/src/name_server/name_server.rs
  crates/resolver/src/name_server/name_server_pool.rs
  crates/resolver/src/tls/dns_over_native_tls.rs
  crates/resolver/src/tls/dns_over_openssl.rs
  crates/resolver/src/tls/dns_over_rustls.rs
  crates/server/src/authority/authority.rs
  crates/server/src/authority/error.rs
  crates/server/src/authority/message_request.rs
  crates/server/src/authority/message_response.rs
  crates/server/src/error/persistence_error.rs
  crates/server/src/server/h3_handler.rs
  crates/server/src/server/quic_handler.rs
  crates/server/src/server/server_future.rs
  crates/server/src/store/in_memory/authority.rs
  tests/integration-tests/src/lib.rs
  tests/integration-tests/src/mock_client.rs
  tests/integration-tests/tests/integration/client_tests.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  tests/integration-tests/tests/integration/name_server_pool_tests.rs
  tests/integration-tests/tests/integration/retry_dns_handle_tests.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

resolver: make error module private
  crates/async-std-resolver/src/lib.rs
  crates/recursor/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/recursor/src/recursor_pool.rs
  crates/resolver/src/error.rs
  crates/resolver/src/lib.rs
  crates/server/src/authority/error.rs
  tests/integration-tests/tests/integration/lookup_tests.rs
  util/src/bin/resolve.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

client: make error module private
  bin/benches/comparison_benches.rs
  bin/tests/integration/named_https_tests.rs
  bin/tests/integration/named_quic_tests.rs
  bin/tests/integration/server_harness/mod.rs
  bin/tests/integration/server_harness/mut_message_client.rs
  crates/client/src/client/client.rs
  crates/client/src/error.rs
  crates/client/src/error/mod.rs
  crates/client/src/lib.rs
  tests/integration-tests/tests/integration/client_future_tests.rs
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

recursor: make error module private
  crates/recursor/src/error.rs
  crates/recursor/src/lib.rs
  crates/server/src/authority/error.rs
Owners: @bluejekyll, @djc, @marcus0x62

server: make error module private
  bin/src/lib.rs
  crates/server/src/error/config_error.rs
  crates/server/src/error/mod.rs
  crates/server/src/error/persistence_error.rs
  crates/server/src/lib.rs
  crates/server/src/store/sqlite/authority.rs
  crates/server/src/store/sqlite/persistence.rs
Owners: @bluejekyll, @djc, @marcus0x62

tests: restore shorter timeout window in test
  tests/integration-tests/tests/integration/client_tests.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add caching policy configuration to recursor
  Cargo.lock
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/Cargo.toml
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/dns_lru/ttl_config_deserialize.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Split out inner struct from DnsLru
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add Dnslib implementation to dns-test
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/docker/dnslib.Dockerfile
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add incorrect txid test to e2e test suite
  tests/e2e-tests/src/recursor.rs
  tests/e2e-tests/src/recursor/security.rs
  tests/e2e-tests/src/recursor/security/bad_txid.py
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add incorrect txid test to e2e test suite
  tests/e2e-tests/src/recursor.rs
  tests/e2e-tests/src/recursor/security.rs
  tests/e2e-tests/src/recursor/security/bad_txid.py
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add Dnslib implementation to dns-test
  conformance/packages/dns-test/src/container.rs
  conformance/packages/dns-test/src/docker/dnslib.Dockerfile
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Support for multiple zones on a nameserver with dns-test
  conformance/packages/dns-test/src/fqdn.rs
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
  conformance/packages/dns-test/src/templates/named.name-server.conf.jinja
  conformance/packages/dns-test/src/templates/nsd.conf.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

Support for multiple zones on a nameserver with dns-test
  conformance/packages/dns-test/src/fqdn.rs
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/templates/hickory.name-server.toml.jinja
  conformance/packages/dns-test/src/templates/named.name-server.conf.jinja
  conformance/packages/dns-test/src/templates/nsd.conf.jinja
Owners: @japaric, @justahero, @listochkin, @pvdrz

Add caching policy configuration to recursor
  Cargo.lock
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/Cargo.toml
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/dns_lru/ttl_config_deserialize.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Split out inner struct from DnsLru
  crates/resolver/src/dns_lru.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add caching policy configuration to recursor
  Cargo.lock
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/resolver/Cargo.toml
  crates/resolver/src/dns_lru.rs
  crates/resolver/src/dns_lru/ttl_config_deserialize.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

recursor: pass RecursorBuilder by value
  crates/recursor/src/recursor.rs
  crates/server/src/store/recursor/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

recursor: simplify trust anchor setup
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62

recursor: yield crate::Error instead of ResolveError
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

recursor: pass RecursorBuilder by value
  crates/recursor/src/recursor.rs
  crates/server/src/store/recursor/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

recursor: simplify trust anchor setup
  crates/recursor/src/recursor.rs
Owners: @bluejekyll, @djc, @marcus0x62

recursor: yield crate::Error instead of ResolveError
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add resource limits for DNSKEY, DS, and RRSIG validation
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

Add resource limits for DNSKEY, DS, and RRSIG validation
  crates/proto/src/xfer/dnssec_dns_handle/mod.rs
Owners: @bluejekyll, @djc, @marcus0x62

conformance: zone that lacks DS in parent zone
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

conformance: zone that lacks DS in parent zone
  conformance/packages/conformance-tests/src/resolver/dnssec/scenarios/insecure.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

test logging
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Skip copying configuration file for dnslib
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

Skip copying configuration file for dnslib
  conformance/packages/dns-test/src/implementation.rs
  conformance/packages/dns-test/src/name_server.rs
  conformance/packages/dns-test/src/resolver.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

test logging
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @japaric, @justahero, @listochkin, @pvdrz

CI: Remove continue-on-error from steps
  .github/workflows/test.yml
Owners: @bluejekyll, @djc, @marcus0x62

Fix Clippy warning
  crates/proto/src/multicast/mdns_stream.rs
Owners: @bluejekyll, @djc, @marcus0x62

Fix error propagation
  crates/recursor/src/error.rs
  crates/server/src/authority/catalog.rs
  tests/e2e-tests/src/recursor/cname/scenarios.rs
  tests/e2e-tests/src/recursor/security/scenarios.rs
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Add recursion_exceeded function
  crates/recursor/src/error.rs
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/store/recursor/authority.rs
Owners: @bluejekyll, @djc, @marcus0x62

clean up ns_pool_for_zone glue record loop
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

add missing depth tracking to ns_pool_for_zone and _referral
  crates/recursor/src/recursor.rs
  crates/recursor/src/recursor_dns_handle.rs
  crates/server/src/store/recursor/authority.rs
  crates/server/src/store/recursor/config.rs
  tests/test-data/test_configs/example_recursor.toml
Owners: @bluejekyll, @djc, @marcus0x62, @japaric, @justahero, @listochkin, @pvdrz

Use lookup instead of resolve in ns_pool_for_referral and _zone glue loops
  crates/recursor/src/recursor_dns_handle.rs
Owners: @bluejekyll, @djc, @marcus0x62

.github/CODEOWNERS:

# who must review changes to this file
/.github/CODEOWNERS @bluejekyll @djc @marcus0x62

# default owners for the whole repository
* @bluejekyll @djc @marcus0x62

# Ferrous team can review changes to the E2E / integration tests
/tests @japaric @justahero @listochkin @pvdrz
/conformance @japaric @justahero @listochkin @pvdrz
